// QUARANTINE CODE /////////////////
/* #cbForm {
    #cbPreferDate-button {
        width:100% !important;
        background-image: none !important;
        border:none;
        font-size:16px !important;
        @include rounded(0px,0px,0px,0px);

        .ui-icon {
            right:15px;
            margin:0px;
            top:0px;
            background-image:none;
        }
        .ui-selectmenu-text {
            padding:0px;
        }
    }
    #cbSelectOptions {
        ul {
            border:none;
            background-color:$white;
            background-image: none !important;
            
            li {
                border:none;
                font-size:16px !important;
                background-image: none !important;
                background-color: transparent !important;
                font-weight:normal;
                padding:5px 15px !important;
                color:$brand-primary !important;
            }
        }
    }

} */
///////////////////////////////////
.cbCheckout {
    background-color:$white-bg;

    h2 {
        color:$white;
        background-color:$brand-secondary;
        //LAYOUT OVERRIDE
        /* font-size:14px;
        height:50px;
        line-height:50px; */
    }
    
    .input-wrap {
        input {
            border-color:$white;
        }
        .err-msg {
            color:$brand-primary;
        }
        &.err {
            color:$brand-primary;
            
            input {
                border-color:$brand-primary;
            }
        }
        &.err-req{
            &:after, label {
                color:$brand-primary !important;
            }
        }
    }

    #cbBreadcrumbs {
        color:$brand-secondary;
        border-color:$brand-secondary;

        li {
            font-size:16px;//LAYOUT OVERRIDE

            &:first-child, &:last-child {
                &:before {
                    border-color:$brand-secondary;
                    //LAYOUT OVERRIDE
                    /* line-height: 48px;
                    height:50px;
                    width:50px; */
                }
            }
            &.cb-caret {
                &>div {
                    &:before {
                        border-left-color:$brand-secondary;
                    }
                    &:after {
                        border-left-color:$white-bg;
                    }
                }
            }
        }     
    }

    .cb-cols {
        .check-wrap {
            label:before {
               background:transparent url('../img/checkbox_sprite.png') no-repeat top left;  
            }
        }
        section { //main content sections
            label {
                color:$label-gray;
            }
            .check-wrap {
                label {
                    color:$black;
                }
            }   
        }
        #cbCart {
            background-color:$white;
            
            .cb-cust-info {
                background-color:$blue-lightest;
            }
            /* .cb-prod-info {//LAYOUT OVERRIDE
                font-size: 13px;
            } */
            .reveal-wrap {
                .reveal-panel {
                    background-color:$gray-light;

                    ul li, ul li:first-child, ul li:before {
                        color:$gray-charcoal;
                        border-color:$label-gray;

                    }
                    /* ul li span {//LAYOUT OVERRIDE
                        font-size:13px;
                    } */
                    p {
                        color:$gray-charcoal;
                        //LAYOUT OVERRIDE
                        //font-size:11px;
                    }
                }
            }
        }
        #cbSecureInfo {
            background-color:$white;

            h4 {
                color:$label-gray;
                border-color:$gray-light;
                //LAYOUT OVERRIDE
                font-size:11px;
            }
        }
    }

    &#cbStep1 { //Check out step 1: Form fields
        #cbBreadcrumbs {
            li {
                &:first-child:before {
                    background-color:$brand-secondary;
                    color:$white; 
                }
            }
        }
        #cbForm {
            section {
                &#cbInstallation {
                    #cbPreferDate-button {
                        color:$brand-primary;

                        .ui-icon:before {
                            border-top-color:$brand-primary;
                        }
                    }
                    #cbSelectOptions .ui-selectmenu-menu {
                        color:$brand-primary;
                    }
                }
                &#cbCustomerInfo {
                    span.disclaimer {
                        color:$label-gray;
                    }
                }
            }
        }
        #cbCTAs {
            a {
                color:$label-gray;
            }
            span {
                color:$gray-charcoal;
            }
        }
    }
    &#cbStep2 { //Check out step 2: Confirmation
        #cbBreadcrumbs {
            li:before {
                background-color:$brand-secondary;
                color:$white;
            }
        }
        #cbConfirm {
            section {
                div {
                    p:last-child {
                        color:#8c8c8c;
                    }
                }
                ul {
                    li{
                        &:before {
                            color:$brand-secondary;
                            border-color:$brand-secondary;
                            background-color:transparent;

                            //LAYOUT OVERRIDE
                            /* line-height: 40px;
                            height:40px;
                            width:40px; */
                        }

                        div {
                            strong {
                                color:$brand-secondary;

                                //LAYOUT OVERRIDE
                                /* font-size:18px;
                                margin:9px 0px; */
                            }
                        }
                    }
                }
            }
        }
    }
}