//** Global mixins for a great cause
// #Set rem font size with pixel fallback
// Usage:
//    p {
//       @include font-size(14px)
//    }
@function calculateRem($size) {
    $remSize: $size / 16px;
    @return $remSize * 1rem;
}

@mixin font-size($size) {
    // font-size: $size;
    font-size: calculateRem($size);
}

//////////////////////////////////////////////////////////////////////
//#Breakpoint Mixins
// Usage:
// .sidebar {
//   float: left;
//   @include bp-small {
//     float: none;
//   }
// }

@mixin screen-xxs {
    @media only screen and (max-width: $screen-xxs) {
        @content;
    }
}

@mixin screen-xxs-min {
    @media only screen and (min-width: $screen-xxs) {
        @content;
    }
}

@mixin screen-xs {
    @media only screen and (max-width: $screen-xs) {
        @content;
    }
}

@mixin screen-xs-min {
    @media only screen and (min-width: $screen-xs-min) {
        @content;
    }
}

@mixin screen-sm {
    @media only screen and (max-width: $screen-sm) {
        @content;
    }
}

@mixin screen-sm-min {
    @media only screen and (min-width: $screen-sm) {
        @content;
    }
}

@mixin screen-md {
    @media only screen and (max-width: $screen-md) {
        @content;
    }
}

@mixin screen-md-min {
    @media only screen and (min-width: $screen-md-min) {
        @content;
    }
}

@mixin screen-lg {
    @media only screen and (max-width: $screen-lg) {
        @content;
    }
}

@mixin screen-lg-min {
    @media only screen and (min-width: $screen-lg-min) {
        @content;
    }
}

@mixin screen-lg-max {
    @media only screen and (max-width: $screen-lg-min) {
        @content;
    }
}

@mixin screen-lg-w {
    @media only screen and (min-width: $screen-lg-w) {
        @content;
    }
}

@mixin screen-lg-w-min {
    @media only screen and (min-width: $screen-lg-w-min) {
        @content;
    }
}

@mixin screen-xl-min {
    @media only screen and (min-width: $screen-xl-min) {
        @content;
    }
}

@mixin screen-sm-to-md {
    @media only screen and (min-width: $screen-sm-min) and (max-width: $screen-md) {
        @content;
  }
}

//////////////////////////////////////////////////////////////////////
//# Transition mixin
// Usage:
// a {
//   color: gray;
//   @include transition(color .3s ease);
//   &:hover {
//     color: black;
//   }
// }
@mixin transition($transition...) {
    transition: $transition;
}

//////////////////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////////////////
//# Rounded mixin
@mixin rounded($TR,$TL,$BL,$BR) {
  -webkit-border-top-right-radius: $TR;
  -webkit-border-bottom-right-radius: $BR;
  -webkit-border-bottom-left-radius: $BL;
  -webkit-border-top-left-radius: $TL;
  -moz-border-radius-topright: $TR;
  -moz-border-radius-bottomright: $BR;
  -moz-border-radius-bottomleft: $BL;
  -moz-border-radius-topleft: $TL;
  border-top-right-radius: $TR;
  border-bottom-right-radius: $BR;
  border-bottom-left-radius: $BL;
  border-top-left-radius: $TL;
}

/////////////////////////////////////////////////////////////////////
//# Opacity

@mixin opacity($opacity) {
    -moz-opacity: $opacity;
    -khtml-opacity: $opacity;
    -webkit-opacity: $opacity;
    opacity: $opacity;
}

@mixin radius($radius) {
    -moz-border-radius: $radius; 
    -webkit-border-radius: $radius; 
    -o-border-radius: $radius; 
    border-radius: $radius;
}

// @TODO - Post release of Allconnect, consider cleaning the media query & its variables
@mixin screen-mobile {
    @media only screen and (min-width: $screen-mobile-min) and (max-width: $screen-mobile-max) {
        @content;
    }
}

@mixin screen-mobile-landscape {
    @media only screen and (min-width: $screen-mobile-min) and (max-width: $screen-mobile-max) and (orientation: landscape) {
        @content;
    }
}

@mixin screen-tablet {
    @media only screen and (min-width: $screen-tablet-min) and (max-width: $screen-tablet-max) {
        @content;
    }
}

@mixin screen-tablet-portrait {
    @media only screen and (min-width: $screen-tablet-min) and (max-width: $screen-tablet-max) and (orientation: portrait) {
        @content;
    }
}

@mixin screen-tablet-landscape {
    @media only screen and (min-width: $screen-tablet-min) and (max-width: $screen-tablet-max) and (orientation: landscape) {
        @content;
    }
}

@mixin screen-desktop {
    @media only screen and (min-width: $screen-desktop-min) and (max-width: $screen-desktop-max) {
        @content;
  }
}

@mixin gradient-background-with-img($i) {
    background: -moz-linear-gradient(left, $hero-gradient-rgba 0%, $hero-gradient-rgba 40%, $hero-gradient-rgba-3rdvalue 50%), url(../img/hero/landing_hero#{$i}_2800.jpg), $cta-secondary-dark;
    background: -webkit-linear-gradient(left, $hero-gradient-rgba 0%, $hero-gradient-rgba 40%, $hero-gradient-rgba-3rdvalue 50%), url(../img/hero/landing_hero#{$i}_2800.jpg), $cta-secondary-dark;
    background: linear-gradient(to right, $hero-gradient-rgba 0%, $hero-gradient-rgba 40%, $hero-gradient-rgba-3rdvalue 50%), url(../img/hero/landing_hero#{$i}_2800.jpg), $cta-secondary-dark;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4081bd41', endColorstr='#00ffffff',GradientType=1 );
    background-color: $cta-secondary-dark;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}

@mixin gradient-background-no-img() {
    background: -moz-linear-gradient(left, $hero-gradient-rgba 0%, $hero-gradient-rgba 100%, $hero-gradient-rgba-3rdvalue 50%), $cta-secondary-dark;
    background: -webkit-linear-gradient(left, $hero-gradient-rgba 0%, $hero-gradient-rgba 100%, $hero-gradient-rgba-3rdvalue 50%), $cta-secondary-dark;
    background: linear-gradient(to right, $hero-gradient-rgba 0%, $hero-gradient-rgba 100%, $hero-gradient-rgba-3rdvalue 50%), $cta-secondary-dark;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4081bd41', endColorstr='#00ffffff',GradientType=1 );
}

@mixin hero-background($i) {

    @include gradient-background-with-img($i);

    @include screen-mobile {
        @include gradient-background-no-img();
    }
    
    @include screen-tablet-portrait {
        @include gradient-background-no-img();
    }

    @include screen-tablet-landscape {
        @include gradient-background-with-img($i);
    }

    @include screen-desktop {
        @include gradient-background-with-img($i);
    }
}