// ==========================================================================
// Fonts.
// ==========================================================================

$font-default: Helvetica, Arial, sans-serif;

// ==========================================================================
// Basic colors.
// ==========================================================================

$white:                   #fff;
$black:                   #222;
$gray:                    #5A5A5A;
$gray-light:              darken($white, 8%);

 
// DO NOT ADD MORE BASIC COLORS. USE SASS lighten() OR darken() FUNCTIONS
// IN YOUR CODE. SEE http://sasstoolkit.com
// OR CREATE A NEW SEMANTIC VARIABLE BELOW.


// ==========================================================================
// Branded color map.
// ==========================================================================

// Actions.
$cta-primary:             #00436f;           // 1) Primary CTA Color
$cta-secondary:           #006e9e;      // 2) Secondary CTA light on dark
$cta-secondary-dark:      #509ccf;           // 3) Secondary CTA dark on light
$cta-order-by-phone:      #005174;           // 3) Secondary CTA dark on light


// Headlines.
$hl-primary-color:          $black;       // 4) h1 Heading Color
$hl-secondary-color:        #627e90;        // 5) Headings (h2-h5), headline color


// Navbar Links.
$nav-link-color:            $black;  // 6) Top Nav Links Color


// Highlights.
$highlight-primary:         #f58025;    // 7) Primary Highlight Color
$highlight-secondary:       #81bd41;    // 8) Secondary Highlight Color


// Link colors.
$link-color:                #005175;       // default link color within content
$link-color-hover:          #005175;
$link-decoration:			underline;

// ==========================================================================
// Other site colors.
// ==========================================================================

// Body colors.
$body-font-color:           $black;
$body-bg-color:             $white;

// Hero gradient.
$hero-gradient: 			transparent;
$hero-gradient-rgba:		rgba(129,189,65,0.25);
$hero-gradient-rgba-3rdvalue:	rgba(255,255,255,0);
$hero-title-size:			24px;


// Mobile nav.
$navbar-link-bg-hover:      $nav-link-color;
$navbar-link-border-color:  $gray-light;
$navbar-link-hover:         $white;
$navbar-toggle-color:       $nav-link-color;  // mobile toggle


// Cart.
$cart-badge-font-color:     $highlight-secondary;


// Buttons.
$btn-border-radius:         3px;
$btn-primary-bg:            #509ccf;


// Filters.
$filter-body-font-color:    $black;
$filter-bg-color:           $white;
$filter-price-color:        $black;
$filter-border-color: 			$gray-light;


// Border colors.
$border-medium:            lighten($gray, 40%);
$border-light:             darken($white, 8%);
$border-default:           rgba($white, .5);

// Search.

// Callback Checkout.
$checkout-label-color:     lighten($gray, 28%);

// ==========================================================================
// Math.
// ==========================================================================
$num-results-heros: 9;

