// Reset to default 16px font size
html,
body {
    font-family: $font-default;
    background-color: #fff;
}

// Default link color
a {
  color: $link-color;
  &:hover {
    color: $link-color-hover;
  }
}

// ==========================================================================
// Modal overrides.
// ==========================================================================
.modal-body {
	background-image: linear-gradient(180deg, #EFEFEF 25%, #D1D3D4 64%, #D1D3D4 100%);
}

.modal-footer {
	background-color: #D1D3D4;
}

.modal-header {
	.close {
    color: $cta-secondary;
    opacity: 1;
    &:hover {
    	color: darken($cta-secondary, 8%);
    }
	}
}