//**Footer Styles
.footer-navbar-light {
  // border-top: 2px solid $hr-color;
  background-color: $footer-bg-light;
  a {
    color: $link-color;
  }
}

.footer-navbar-dark {
  background-color: $footer-bg-dark;
  color: $footer-dark-text-color;
  a {
    color: $footer-dark-link-color;
  }
}