/* ----------------------------------------------------------
//  Plan results.
// ---------------------------------------------------------- */
.alert {
  margin-top: $spacing-md;
  margin-bottom: 0;
  text-align: center;
  button {
    padding: 0 $spacing-base;
  }
  strong, p {
    color:$cta-secondary;
  }  
}

.changeLocContents {
  background-color:$cta-primary;
  color: $white;
}

// Override way too specific declaration.
.locationAddress {
  a {
    border-color: $white;
    color: $white;
  }
}

#resultLabels {
  color: $medium-grey;
  font-size: 13px;
  .fa {
    color: $cta-secondary;
    font-size: 2em;
    line-height: 18px;
    margin-left: $spacing-xs;
    vertical-align: top;
  }
}

.results-container {
  padding: $spacing-xs 0;
  @include screen-sm-min {
    padding: $spacing-lg 0;
  }
}

.result {
  border: 1px solid $gray-light;
  font-size: 13px;
  font-family: $font-default;
  position: relative;
  @include screen-sm {
    max-width: $screen-xxs;
  }
  .col {
    padding: 1.25em;
    @include screen-sm-min {
      height: 170px;
      &:not(:first-child) {
        border-left: 1px solid $gray-light;
      }
    }    
  }
}

.result__more {
  border-top: 1px solid $gray-light;
  border-bottom: 1px solid $gray-light;
  padding: 1.25em;
  text-align: center;
  @include screen-sm-min {
    border: 0;
    position: absolute;
    top: 100px;
    text-align: left;
  }
}

.result__more-label {
  color: $cta-secondary;
  cursor: pointer;
  text-decoration: underline;
  .glyphicon:before {
    margin-left: $spacing-xxs;
  }
  &:before {
    content:"More ";  // Move this to JS
  }  
}

.result__more-input {
  display: none;
  &:checked + label {
    i {
        &:before {
            content:"\e113";
        }
    }
    &:before {
      content:"Less ";  // Move this to JS
    }    
  }
}

.result__price {

}

.result__btn-call {
  font-size: $font-size-sm;
}

.result__btn-select {
  @include screen-sm-min {
    padding-left: $spacing-xxs;
    padding-right: $spacing-xxs;
  }   
}

.result__terms {}

.highlight {}

#nameCol {  //.result__name
  text-align: center;
  @include screen-sm-min {
    text-align: left;
  }  
  h3 {
    font-weight: bold;
    font-size: $font-size-sm;
    line-height: $font-size-md;
    @include screen-sm-min {
      font-size: 13px;
      margin-top: $spacing-sm;
    }
  }  
}

#metaCol {  //.result__price
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  color: $cta-secondary;
  font-size: 24px;
  font-weight: bold;
  line-height: 2;
  vertical-align: text-bottom;
  padding-top: 0;
  @media only screen and (max-width: $screen-lg) and (min-width: $screen-sm) {
    font-size: $font-size-md;
  }  
  sup {
    font-size: 100%;  // IE fix.
    font-weight: normal;
    top: 0em;
  }  
}

#termsCol { //.result__meta
  border-top: 1px solid $gray-light;
  border-bottom: 1px solid $gray-light;
  padding-left: $spacing-sm;
  padding-right: $spacing-sm;
  @include screen-sm-min {
    border-top: 0;
    border-bottom: 0;
  }  
  ul {
    padding-left: 1.2em;
    &:first-child {
      text-transform: uppercase;
      list-style-type: none;
      padding-left: 0;
      @include screen-sm-min {
        margin-top: $spacing-sm;
      }
    }
  }  
  &.highlight:before {
    content: "\f06c";
    color: $cta-primary;
    float: right;
    font: normal normal normal 2.5em/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @include screen-sm-min {
      margin-top: $spacing-xs;
    }
  }
}

#promoCol { //.result__promo
  color: $cta-primary;
  font-weight: bold;
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  p {
    max-width: 100%;  //  Fixes IE10 flexbox bug. See https://goo.gl/BrIqaM
  }
}

// Legacy style code
#sortResultsListForm {
  height: 0 !important;
}

#callInNumber {
  color: $cta-primary;
  font-size: $font-size-sm;
  strong {
    display: block;
  }
}

