h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
.btn-brand {
  background-color: #ff7200;
  color: #fff;
}
.brand {
  background-color: #ff7200;
  color: #fff;
}
.hero {
  background-image: none;
}
.light {
  background-color: #fafafa;
}
.medium {
  background-color: #666;
}
.dark {
  background-color: #171717;
  color: #fafafa;
}
.medium-dark {
  color: #8f8f8f;
}
/* Please download the latest variables.less, mixins.less, and related mixin files
 * locally. 
 * DO NOT include those files in version control. */
html,
body {
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
#main-header {
  background-color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}
#site-logo {
  margin: 0 auto;
}
.navbar {
  margin-bottom: 0;
  border: 0;
}
.main-nav {
  background-color: #fff;
  margin-left: 15px;
  margin-right: 15px;
  text-align: left;
}
.main-nav > .container {
  border-bottom: 1px solid #8f8f8f;
}
.navbar-left {
  margin-top: 20px;
}
.navbar-right {
  font-size: 1.6875em;
  font-weight: bold;
  text-align: center;
  margin: 12px 0;
}
.navbar-right strong {
  display: none;
  color: #666;
}
.navbar-right .glyphicon {
  font-size: 0.75em;
}
#main-content {
  margin-top: 245px;
}
.hero {
  position: relative;
  padding: 0 15px 15px 15px;
  box-shadow: 1px 5px 5px #e8e8e8;
  text-align: center;
}
.hero img {
  display: block;
  float: none;
  margin: -5em auto 0;
}
.hero h1 {
  font-size: 1.25em;
  font-weight: 500;
}
.mid-tfn {
  text-align: center;
  padding: 1.875em 15px 1.563em;
}
.mid-tfn h2 {
  color: #0574ac;
  font-weight: normal;
  font-size: 1.6875em;
}
.product-icons {
  height: 3em;
  margin-bottom: 20px;
  position: relative;
}
.product-title {
  display: table;
  height: 60px;
  margin: 0 auto;
}
.product-title h3 {
  display: table-cell;
  vertical-align: middle;
}
.product {
  border: 1px solid #c2c2c2;
  margin: 0 auto 2.250em;
  padding: 2.5em 1em 2em;
  text-align: center;
  max-width: 240px;
}
.product .icon {
  fill: #ff7200;
  color: #ff7200;
  max-width: 4em;
  height: 3em;
}
.product .icon:last-of-type:after {
  content: "";
}
.product .icon::after {
  content: '+';
  position: absolute;
  top: 0;
  right: 1em;
}
.product h3 {
  color: #666;
  font-size: 1.5625em;
  font-weight: bold;
  line-height: 29.35px;
  margin-bottom: 5px;
  vertical-align: middle;
}
.product ul {
  margin: 0;
  padding: 0;
}
.product ul li {
  list-style-type: none;
  color: #0574ac;
  font-size: 0.9375em;
  margin-bottom: 10px;
}
.product a {
  text-decoration: none;
}
.product .price {
  font-size: 2.8125em;
  font-weight: bold;
  margin-bottom: 0;
}
.product .price sup {
  font-size: .5em;
  top: -15px;
}
.product .period,
.product .restriction {
  color: #ff7200;
  font-size: 13px;
  font-style: italic;
  font-weight: bold;
}
.product .period {
  margin-bottom: -3px;
}
.disclaimer {
  padding: .5em 1.750em;
  text-align: center;
  font-size: 0.75em;
}
.disclaimer h2 {
  color: #ff7200;
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 1em;
}
.disclaimer a.toggle {
  border-bottom: 1px solid #171717;
  color: #171717;
  font-weight: bold;
  outline: 0;
  text-align: center;
  text-decoration: none;
}
.disclaimer a.toggle:hover {
  text-decoration: none;
}
.disclaimer .toggle .glyphicon {
  padding: .75em 1em .5em 1em;
  display: block;
}
#disclaimer-wrapper {
  text-align: left;
}
#disclaimer-wrapper .close-link {
  text-align: center;
  display: block;
  border-bottom: 0;
  text-decoration: underline;
}
footer {
  font-size: 0.75em;
}
footer .container {
  text-align: center;
  padding-top: 0.750em;
  padding-bottom: 2em;
}
footer .corporate-links {
  padding-left: 0;
  list-style-type: none;
}
footer .corporate-links li {
  padding-bottom: 0.750em;
}
footer .corporate-links a {
  color: #ff7200;
}
footer hr {
  margin-top: 0;
  margin-bottom: 1em;
  width: 1.250em;
  border-color: #adadad;
}
/* JS elements */
.js-phone-site {
  color: #0574ac;
  display: block;
  font-weight: bold;
}
.js-phone-site:hover,
.js-phone-site:active,
.js-phone-site:focus {
  color: #0574ac;
  text-decoration: none;
}

.navbar-header {
    display: block !important;
}

/* Media queries for Small devices - Tablets (≥768px), 
 * Bootstrap variable @screen-sm-min
 * Container width 750px */
@media (min-width: 768px) {
  .main-nav {
    position: static;
    z-index: 1;
  }
  .main-nav > .container {
    width: 658px;
    padding-left: 0;
    padding-right: 0;
  }
  .main-nav .navbar-header {
    width: 100%;
  }
  .navbar-left {
    margin-bottom: 1em;
  }
  .navbar-right {
    margin: 18px 0 0 0;
    text-align: right;
  }
  .navbar-right strong {
    display: block;
    font-size: 25px;
    margin-top: -2px;
  }
  #main-content {
    margin-top: 130px;
  }
  .hero {
    padding: 0;
    max-height: 6em;
  }
  .hero > .container {
    width: 658px;
    padding-right: 0;
    padding-left: 0;
  }
  .hero img {
    float: right;
    margin-top: -10px;
    max-width: 256px;
  }
  .hero h1 {
    font-size: 1.5625em;
    text-align: left;
    padding: 22px 0 20px;
    max-width: 450px;
  }
  .mid-tfn {
    padding-top: 2.188em;
    padding-bottom: 2.188em;
  }
  .products {
    padding: 0 0 0 15px;
  }
  .product {
    margin: 0 0 2.250em;
    padding: 2.5em 0 2em 0;
    max-width: 220px;
  }
  .product ul li {
    font-size: 0.8125em;
  }
  .product h3 {
    font-size: 1.25em;
  }
  .product .price {
    font-size: 2.1875em;
  }
  .product .price sup {
    top: -12px;
  }
  footer .container {
    position: relative;
    text-align: left;
    max-width: 100%;
  }
  footer .copy {
    margin: 20px auto;
    width: auto;
    vertical-align: bottom;
    text-align: center;
  }
  footer .corporate-links {
    position: absolute;
    top: 30px;
    left: 0;
    padding-left: 0;
    list-style-type: none;
  }
  footer .corporate-links li {
    padding-bottom: 0.750em;
  }
  footer .corporate-links a {
    color: #ff7200;
  }
  footer .allconnect-logo {
    position: absolute;
    top: 30px;
    right: 0;
  }
  footer hr {
    border-color: transparent;
  }
  /* JS elements */
  .js-phone-site {
    display: inline-block;
    cursor: text;
  }
}
/* Media queries for Medium devices - Desktops (≥992px), 
 * Bootstrap variable @screen-md-min
 * Container width 970px */
@media (min-width: 992px) {
  #main-header {
    position: static;
  }
  .main-nav > .container {
    width: 780px;
  }
  .navbar-left {
    margin-bottom: 1.5em;
  }
  .navbar-right {
    font-size: 2.3125em;
  }
  .navbar-right strong {
    margin-top: -12px;
  }
  #main-content {
    margin-top: 56px;
  }
  .hero {
    max-height: 7em;
  }
  .hero > .container {
    width: 780px;
  }
  .hero img {
    max-width: 300px;
  }
  .hero h1 {
    font-size: 1.875em;
    text-align: left;
    padding: 22px 0 20px;
  }
  .mid-tfn {
    padding-top: 3.5em;
  }
  .mid-tfn h2 {
    font-size: 1.875em;
  }
  .product {
    margin: 0 0 2.250em;
    padding: 2.5em 0 2em 0;
    max-width: 295px;
  }
  .product ul li {
    font-size: 0.9375em;
  }
  .product h3 {
    font-size: 1.4375em;
  }
  .product .price {
    font-size: 2.8125em;
  }
  .product .price sup {
    top: -15px;
  }
}
/* Media queries for Large devices - Desktops (≥1200px), 
 * Bootstrap variable @screen-lg-min
 * Container width 1170px */
@media (min-width: 1200px) {
  .main-nav > .container {
    width: 950px;
  }
  .hero {
    max-height: 7em;
  }
  .hero > .container {
    width: 950px;
  }
  .hero img {
    max-width: 320px;
  }
  .products {
    width: 1075px;
  }
  .product {
    max-width: 310px;
  }
}
