@charset "UTF-8";
html, body {
	font-size: 1em;
	font: 100% Helvetica, Arial, Verdana, sans-serif normal;
	padding: 0;
	margin: 0;
	background: #BBBABA;
}
.yearSavings{
  display: block;
  color: #333;
  clear: both;
  font-size: 19px;
  position: relative;
  z-index: 20;
  line-height: 1.4em;
  margin: 45px auto 20px auto;
  text-align: center;
  width: 95%;
}
.yearSavings span{
    position:relative;
    padding: 0;
    margin: 0px 0 0 0;
    z-index:25;
    color: #333;
    font-size: 19px;
    float: none;
    text-align: left;
    display: inline-block;
    width: auto;
    left: auto;
    line-height: 0em;
}
header {
	overflow: hidden;
	background: #ffffff;
	border: #BBBABA 3px solid;
	border-bottom: 5px solid #BBBABA;
}
nav {
	overflow: hidden;
	width: 99%;
}
nav ul {
	margin: 0;
	padding: 0 0px;
	overflow: hidden;
	background: #fff;
	display: block;
}
nav ul li {
	width: 33.3%;
	display: block;
	float: left;
	text-transform: uppercase;
	text-align: center;
	padding: 0;
	margin: 0;
	font-size: 1em;
}
nav ul li a {
	color: #ffffff;
	text-decoration: none;
	padding: 0;
	margin: 0;
	text-align: center;
	background: #EF6F00;
	width: 90%;
	margin: 1px auto;
	display: block;
	float: none;
	padding: 10px 4px 7px 4px;
	font-size: .85em;
	line-height: 1em;
	border-top: 1px solid #FAA72E;
}
main, header, nav, footer {
	max-width: 600px;
	display: block;
	margin: 0 auto;
	padding: 0;
	border-left: 2px solid #BBBABA;
	border-right: 2px solid #BBBABA;
}
main {
	position: relative;
	display: block;
	overflow: hidden;
	min-height: 250px;
	padding: 0 0 15px 0;
	margin: 0 auto;
	background: #ffffff;
}
main img, header img {
	width: 100%;
}
main img {
	position: absolute;
	top: 35px;
	left: 0;
	z-index: 1;
}
main h1, main p, main ul {
	z-index: 1;
	display: block;
	position: relative;
	color: #333333;
}
main h1 {
	text-align: left;
	font-size: 1.5em;
	width: 78%;
	padding: 0 0 0 15px;
	margin: 10px 0 0 0;
	line-height: 1.2em;
}
main h1 sup {
	font-size: .4em;
}
main ul li {
	color: #FAA72E;
	font-size: 16.5px;
	line-height: 18.5px;
	display: list-item;
	list-style-position: outside;
	font-weight: bold;
	margin: 15px 0 15px 0;
	list-style-image: url(../images/mAttBullet.png);
	padding: 0 0 0 8px;
}
main ul {
	margin: 30px 0 35px 10px;
	display: block;
	clear: both;
}
main p {
	display: block;
	width: 40%;
	font-size: 4em;
	margin: 0 0 0 17px;
	padding: 0;
	line-height: 0;
}
main p strong {
	display: block;
	overflow: hidden;
	width: auto;
	position: relative;
	line-height: .75em;
	margin: 0 0 4px 0;
	font-size: 1.1em;
	width: 165px;
	color: #ef6f00;
}
main sup {
	font-size: .5em;
	padding: 0 0px 0 4px;
}
main sub {
	font-size: .25em;
	display: inline;
	line-height: 1em;
	position: absolute;
	left: 66%;
	bottom: 0;
}
main p em {
	font-size: 0.17em;
	display: inline-block;
	line-height: 1.3em;
	font-style: normal;
	margin: 0 0 0px 0;
	width: 90%;
}
main a.mainCTA {
	color: #ffffff;
	font-weight: bold;
	display: block;
	width: 90%;
	margin: 9px auto 10px;
	z-index: 99;
	position: relative;
	text-align: center;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-o-border-radius: 10px;
	text-decoration: none;
	padding: 10px 0;
	font-size: 1.4em;
	border-top: 1px solid #A3E0FF;
	background: #3f9bca;
  background: -webkit-linear-gradient(#64aed4,#2190c5);
  background: -moz-linear-gradient(#64aed4,#2190c5);
  background: linear-gradient(#64aed4,#2190c5);
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.66);
  -moz-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.66);
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.66);
  -o-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.66);
}
main a.mainCTA:hover{
  background: #00a6de;
  background: -webkit-linear-gradient(#6bcbe7,#009ede);
  background: -moz-linear-gradient(#6bcbe7,#009ede);
  background: linear-gradient(#6bcbe7,#009ede);
}
footer #disclaimer p {
	background: #ffffff;
	color: #777777;
	font-size: .7em;
	line-height: 1.3em;
	padding: 20px 15px;
	box-shadow: inset 0px 5px 12px rgba(0, 0, 0, 0.66);
	-moz-box-shadow: inset 0px 5px 12px rgba(0, 0, 0, 0.66);
	-webkit-box-shadow: inset 0px 5px 12px rgba(0, 0, 0, 0.66);
	-o-box-shadow: inset 0px 5px 12px rgba(0, 0, 0, 0.66);
	margin: 0;
}

@media only screen and (min-width: 380px) and (max-width: 450px) {
main h1 {
	font-size: 1.9em;
	width: 95%;
	margin: 12px 0 10px 0;
}
}

@media only screen and (min-width: 450px) {
nav ul li a {
	margin: 3px auto;
}
main h1 {
	font-size: 2.4em;
	margin: 18px 0 0 0;
}
nav ul li a {
	padding: 10px 5px 7px 5px;
	font-size: 1em;
	line-height: 1em;
}
main a.mainCTA {
	font-size: 1.8em;
}
main p strong {
	font-size: 1.6em;
	margin: 0 0 8px 0;
	width: 236px;
}
main p em {
	font-size: .2em;
}
main p {
	margin: 0 0 0 20px;
}
main ul {
	margin: 50px 0 50px 40px;
	display: block;
}
main ul li {
	font-size: 21.5px;
	margin: 28px 0;
}
}

@media only screen and (min-width: 550px) {
main img {
	top:5px;
	z-index:0;
}	
.yearSavings{
  font-size: 27px;
}
main p {
	margin: 20px 0 0px 20px;
}
main ul {
	margin: 40px 0 50px 40px;
}
nav ul li a {
padding: 12px 7px 10px 7px;
}
}
@media only screen and (min-width: 580px) {
main h1{
  font-size: 2.5em;
}
}