// QUARANTINE CODE /////////////////
/* #cbForm {
    #cbPreferDate-button {
        width:100% !important;
        background-image: none !important;
        border:none;
        font-size:16px !important;
        @include rounded(0px,0px,0px,0px);

        .ui-icon {
            right:15px;
            margin:0px;
            top:0px;
            background-image:none;
        }
        .ui-selectmenu-text {
            padding:0px;
        }
    }
    #cbSelectOptions {
        ul {
            border:none;
            background-color:$white;
            background-image: none !important;
            
            li {
                border:none;
                font-size:16px !important;
                background-image: none !important;
                background-color: transparent !important;
                font-weight:normal;
                padding:5px 15px !important;
                color:$cta-primary !important;
            }
        }
    }

} */
///////////////////////////////////
.cbCheckout {
    background-color:darken($white, 3.9%);

    h2 {
        color:$white;
        background-color:$cta-secondary;
        //LAYOUT OVERRIDE
        /* font-size:14px;
        height:50px;
        line-height:50px; */
    }
    
    .input-wrap {
        input {
            border-color:$white;
        }
        .err-msg {
            color:$cta-primary;
        }
        &.err {
            color:$cta-primary;
            
            input {
                border-color:$cta-primary;
            }
        }
        &.err-req{
            &:after, label {
                color:$cta-primary !important;
            }
        }
    }

    #cbBreadcrumbs {
        color:$cta-secondary;
        border-color:$cta-secondary;

        li {
            font-size:16px;//LAYOUT OVERRIDE

            &:first-child, &:last-child {
                &:before {
                    border-color:$cta-secondary;
                    //LAYOUT OVERRIDE
                    /* line-height: 48px;
                    height:50px;
                    width:50px; */
                }
            }
            &.cb-caret {
                &>div {
                    &:before {
                        border-left-color:$cta-secondary;
                    }
                    &:after {
                        border-left-color:darken($white, 3.9%);
                    }
                }
            }
        }     
    }

    .cb-cols {
        .check-wrap {
            label:before {
               background:transparent url('../img/checkbox_sprite.png') no-repeat top left;  
            }
        }
        section { //main content sections
            label {
                color:$checkout-label-color;
            }
            .check-wrap {
                label {
                    color:$black;
                }
            }   
        }
        #cbCart {
            background-color:$white;
            
            .cb-cust-info {
                background-color: lighten($cta-secondary, 15%);
            }
            .cb-prod-info {//LAYOUT OVERRIDE
                //font-size: 13px;
            }
            .reveal-wrap {
                .reveal-panel {
                    background-color:$gray-light;

                    ul li, ul li:first-child, ul li:before {
                        color:lighten($black, 14%);
                        border-color:$checkout-label-color;

                    }
                    ul li span {//LAYOUT OVERRIDE
                        //font-size:13px;
                    }
                    p {
                        color:lighten($black, 14%);
                        //LAYOUT OVERRIDE
                        //font-size:11px;
                    }
                }
            }
        }
        #cbSecureInfo {
            background-color:$white;

            h4 {
                color:$checkout-label-color;
                border-color:$gray-light;
                //LAYOUT OVERRIDE
                //font-size:11px;
            }
        }
    }

    &#cbStep1 { //Check out step 1: Form fields
        #cbBreadcrumbs {
            li {
                &:first-child:before {
                    background-color:$cta-secondary;
                    color:$white; 
                }
            }
        }
        #cbForm {
            section {
                &#cbInstallation {
                    #cbPreferDate-button {
                        color:$cta-primary;

                        .ui-icon:before {
                            border-top-color:$cta-primary;
                        }
                    }
                    #cbSelectOptions .ui-selectmenu-menu {
                        color:$cta-primary;
                    }
                }
                &#cbCustomerInfo {
                    span.disclaimer {
                        color:$checkout-label-color;
                    }
                }
            }
        }
        #cbCTAs {
            a {
                color:$checkout-label-color;
            }
            span {
                color:lighten($black, 14%);
            }
        }
    }
    &#cbStep2 { //Check out step 2: Confirmation
        #cbBreadcrumbs {
            li:before {
                background-color:$cta-secondary;
                color:$white;
            }
        }
        #cbConfirm {
            section {
                div {
                    p:last-child {
                        color:#8c8c8c;
                    }
                }
                ul {
                    li{
                        &:before {
                            color:$cta-secondary;
                            border-color:$cta-secondary;
                            background-color:transparent;

                            //LAYOUT OVERRIDE
                            /* line-height: 40px;
                            height:40px;
                            width:40px; */
                        }

                        div {
                            strong {
                                color:$cta-secondary;

                                //LAYOUT OVERRIDE
                                /* font-size:18px;
                                margin:9px 0px; */
                            }
                        }
                    }
                }
            }
        }
    }
}