.changeLocContents {
    background-color:$gray-medium;
}
#multipleProvidersAlert {  
    strong, p {
        color:$brand-secondary;
    }
    div {
        &.close-alert {
            color:$brand-secondary;
        }
        &.bg-cover {
            background-color:$brand-secondary;
        }
        &.bg-border {
            border-color:$brand-secondary;
        }
    }
}
.results-container {
    .compareBtnDiv {
        background-color:$gray-light;
        a {
            color:$gray-dark;
            
            .resultsCountAC {
                color:$gray-dark;
            }
        }
    }
    #filterToggleOn, #filterToggleOff {
        &:hover {
            background-color:$brand-secondary;
            color:$white;
        }

        @include screen-md-min {
            &:hover {
                background-color:transparent;
                color:$brand-secondary;
            }
        }
    }
    #resultsContainer {
        .result {
            .result-wrap {
                #superCol1 {
                    .more-details {
                        color:$brand-secondary;
                    }
                }

                #superCol2 {
                    #minorCol1 {
                       .price-lockup {
                            color:$brand-primary; 
                        }
                        .btn {
                            background-color:$brand-secondary;
                            color:$white;

                            &:hover {
                                background-color:transparent;
                                color:$brand-secondary;
                            }
                        }
                        #callInNumber {
                            span, strong {
                               color:$brand-secondary;
                            }
                        }
                    }
                    #minorCol2 {
                        .meta-wrap {
                            &:before,p,a {
                                color:$brand-secondary;
                            }
                        }
                    }
                }
                @include screen-sm-min {
                    #superCol1 {
                        h3 {
                            color:$brand-primary;
                        }
                    }
                }
            }
            .reveal-panel {
                h3 {
                    color:$brand-primary
                }
                .reveal-panel_promo-box {                    
                    p {
                        color:$brand-secondary;
                        border-color:$brand-secondary;
                    }
                }
            }
        }
    }
    .results-btm {
        .pagination {       
           li {

                a {
                    color:$brand-secondary;

                    &:hover {
                        text-decoration: none;
                    }
                }

                &.active {
                    a {
                        color:$white;
                        background-color:$brand-secondary;
                    }
                }
            }
        }
    }
}

.termsCol__promo {
    color: $brand-primary;
}