/* ----------------------------------------------------------
//  Search pop-up
// ---------------------------------------------------------- */

.block-ac-results {
	.block-content-area {
		background-color:$white;

		.block-header {
			.block-header__link {
				span {
					border-bottom-color:$brand-secondary;
				}
				i {
					color:$brand-secondary;
				}

				&:hover {
					span {
						color:$brand-secondary !important;
					}
				}
			}
		}
		
		.block-body {
			.block-svg-icon {
				.st10, .st12, .st15 {stroke:$brand-secondary;}
				.st11, .st14 {fill:$brand-secondary;}
			}
			.block-body__callout {
				color:$brand-secondary;
			}
		}

		.block-footer {
			border-color:$brand-secondary;
		
			.block-footer__phone {
				color:$brand-secondary;
			}
		}
	}
	.block-content-cover {
		background-color:$brand-secondary;
	}
	&.closed {
		.block-content-wrap {
			.block-content-area {
				background-color:$brand-secondary;
			}
		}
	}
}