.results-container {
    #filterContainer { //Actual Filters
        .filters {
            .filters-wrap {
                .filter-row {
                    .filter-title {
                        background-color:$gray-light;
                    }
                    .filter-box {
                        border-color:$gray-light;
                        .DimensionValue {
                            input[type=checkbox]:checked + label {
                                color:$cta-secondary;
                            }
                        }
                    }
                }
            }
        }
    }
}