/* ----------------------------------------------------------
//  Actions
// ---------------------------------------------------------- */
.cta-banner {
  background-color: $cta-secondary;
  color: $white;
  max-height: 80px;
  a {
    color: inherit;
  }
  display: flex;
  justify-content: center;  
}



// ==========================================================================
// Buttons.
// ==========================================================================
.btn {
  border-radius: $btn-border-radius;
}

.btn-primary {
  background-color: $btn-primary-bg;
  border-color: $btn-primary-bg;
  color: $white;
  outline: 0;
  &:hover, 
  &:focus {
    background-color: transparent;
    border-color: lighten($btn-primary-bg, 20%);
    color: $btn-primary-bg;
    outline: 0;
  }
  // Probably should create a button mixin for DRY code
}

