//** Filters.
.filter {
  color: $filter-body-font-color;
  background-color: $filter-bg-color;
  border-color: $filter-border-color;
  border-radius: 3px;
  min-height: 200px;
  padding: 0 2em;
  .btn-view-offers {
    font-weight: normal;
  }
  @include screen-sm-to-md {
    padding: 0 1em;
  }  
}

.filter-header {
  border-bottom: $border-width-base solid $border-light;
}

.filter-price {
  color: $filter-price-color;
  font-size: $font-size-lg;
  font-weight: normal;
  @include screen-sm-to-md {
    font-size: $font-size-md;
  }
  div {
    border: 0;  // drupal field_collection_item override
  }
}

.filter-label,
.filter-label-inline {
  color: #999;
}

.filter-feature-group {
  .filter-feature {
    &:not(:last-of-type) {
      border-right: $border-width-base solid $border-light;
    }
  }
}

.filter-promoted {
  .filter-footer {
    @include screen-sm-min {
      border-top: $border-width-base solid $border-light;
    }
  }
}

.filters-disclaimer {
  color: $cta-primary;
  .node-type-results-page & {
    font-size: $font-size-sm;
    font-weight: bold;
    @include screen-sm {
      text-align: center;
    }
  }
}

// Overrides

.filter-title {
  font-size: $font-size-xs * 2;
  font-weight: normal;
  @include screen-sm-to-md {
    font-size: $font-size-md - 2;
  }
}

.filter-desc {
  margin: $spacing-xs 0;
}

.filter-header {
  border-bottom-width: 1px;
}
