//**Footer Styles
#cta-footer {
  padding-bottom: $spacing-xl;
}

.footer-navbar-light {
  background-color: $white;
  a {
    color: $nav-link-color;
  }
}

.footer-navbar-dark {
  background-color: $black;
  color: $white;
  a {
    color: $white;
  }
}

.footer-navbar {
  @font-size($font-size-sm);
}

.social-links-menu {
  a {
    &:hover {
      color: $highlight-secondary;
    }
  }
}