/* -------------------------------------------
//  Search results call-in overlay
// -------------------------------------------*/

.call-overlay {	//rewrite BEM style
	.modal-content {
		background-image: linear-gradient(0deg, $cta-secondary-dark 43%, $white 43%);
	}
	.modal-header {
		background: url(../img/call-in-popup-agent-min.png) center 18% no-repeat;
	}
	.modal-body {
		background-image: none;
		background-color: $white;
  		border-color: $cta-secondary-dark;
  		.col {
  			border-left: 0;
  			@include screen-sm {
  				height: auto;
  			}
  		}
	}
	.modal-footer {
		background-color: $cta-secondary-dark;
		color: $white;
	}
}

.call-overlay__label {
	background: $white;
	color: $gray;
}

.call-overlay__plan {

}

.call-overlay__meta {

}

.call-overlay__promo {
	color: $cta-secondary-dark;
}