/* -------------------------------------------
//  Search results call-in overlay
// -------------------------------------------*/

.call-overlay {
	.close {
		float: none;
		font-size: 3em;
    position: absolute;
    right: 12px;
	}
	.modal-header {
		align-items: center;
		justify-content: flex-end;
		border-bottom: 0;
		// min-height: 186px;
		min-height: 256px;
		h4 {
			font-size: $font-size-md + 4;
			padding-top: $spacing-sm + 4;
		}
		a {
			color: $black;
			font-size: 42px;
			font-weight: bold;
			// padding-top: $spacing-md;
			text-decoration: none;
			@include screen-sm-min {
				cursor: text ;
			}
		}
	}
	.modal-body {
		border: 1px solid;
		margin: 0 $spacing-md;
		padding-top: 0;
		.col {
			justify-content: flex-start;
			min-height: inherit;			
			@include screen-md-min {
				justify-content: center;
				min-height: 245px
			}
		}
	}
	.modal-footer {
		font-size: $font-size-sm;
	}
}

.call-overlay__label {
	width: 224px;
	display: block;
	margin: -1px auto;
	padding-bottom: 1em;
	text-align: center;
	text-transform: uppercase;
}

.call-overlay__plan {
	font-size: $font-size-sm;
	font-weight: bold;
	list-style-type: none;
	margin: $spacing-md 0;
	li {
	}
}

.call-overlay__meta {
	font-size: $font-size-sm;
	list-style-type: none;
	li:before {
		content: '-';
		margin-right: $spacing-base;;
	}
}

.call-overlay__promo {
	font-size: 1.5em;
	font-weight: bold;
	align-items: center;
	padding: $spacing-base $spacing-md;
	@include screen-md-min {
		padding: 0;
	}
}
	
