//** Filters.
.filter {
  color: $filter-body-font-color;
  background-color: $filter-bg-color;
}

.filter-header {
  border-bottom: $border-width-base solid $border-light;
}

.filter-price {
  color: $filter-price-color;
}

.filter-label,
.filter-label-inline {
  color: $filter-body-font-color;
}

.filter-feature-group {
  .filter-feature {
    &:not(:last-of-type) {
      border-right: $border-width-base solid $border-light;
    }
  }
}

.filter-promoted {
  .filter-footer {
    @include screen-sm-min {
      border-top: $border-width-base solid $border-light;
    }
  }
}