//**Footer Styles
#cta-footer {
  padding-bottom: $spacing-xl;
}

.footer-navbar-light {
  background-color: $white;
  a {
    color: $nav-link-color;
  }
}

.footer-navbar-dark {
  background-color: lighten($black, 14%);
  color: $white;
  a {
    color: $white;
  }
}

.footer-nav-primary {
  color: $link-color;
}

.footer-logo {
  img {
    height: 35px;
    width: auto;
    margin: 20px;
  }
}

.footer-navbar {
  font-size: $font-size-sm;
}

.footer-nav {
  margin-bottom: 10px;
}