/*=========================================
=      Header CTA Banner & Navigation       =
=========================================*/

.agent {
    background: $cta-secondary-dark;
    display: flex;
    justify-content: center;
    align-items: center;
    &:after {
        border-left-color: $cta-secondary-dark;
    }
}

.header-cta-banner {
  display: none;
  // display: flex; - temporarily hiding banner
  justify-content: center;  
  background-color: $cta-secondary;
  color: white;
  a {
    color: #fff;
  }  
}

//** Navbar mobile and desktop colors

.site-header {
  .navbar-toggle {
    color: $navbar-toggle-color;
    a {
      color: inherit;
    }
  }
}

.navbar {
  .flex-nav {
    @include screen-md {
      a {
        font-weight: normal;
      }
      li {
        a {
          border-top: 1px solid $navbar-link-border-color;
          &:focus,
          &:active,
          &:hover {
            background-color: $navbar-link-bg-hover;
            border-top-color: $navbar-link-bg-hover;
            color: $navbar-link-hover;
          }
        }
      }
    }
  }
}

//** Brand specific nav settings.
.nav-primary {
  a {
    color: $nav-link-color;
    &:hover {
      color: $nav-link-color;
    }
  }
  li:after {
    color: $nav-link-color;
  }  
}

.order-status-nav {
  a {
    color: $nav-link-color;
    &:hover {
      color: $nav-link-color;
    }
  }
}

.navbar-cart {
    .badge {
        border-color: $cta-secondary;
        color: $cart-badge-font-color;
    }
}

