/* ----------------------------------------------------------
//  Hero section
// ---------------------------------------------------------- */

.hero {
  background-image: none;
  background: #fff;
  border-top: 1px solid $gray-light;
	.node-page &, 
	.node-error-page & {
		background-color: $cta-primary;
		.headline-base {
			color: #fff;
		}
	}
}

/* ----------------------------------------------------------
//  Online Checkout Landing Pages (Formerly Category pages)
// ---------------------------------------------------------- */

.hero-category {
	background-color: #f8f8f8;
	border-top: 1px solid $border-medium;
	padding: 0;
	@include screen-xs {
		.hero-image-embed {
			display: none;
		}
		.hero-image-cta {
			margin-top: 0;
		}
	}
}

.hero-image-headline__title {
	color: $hl-primary-color;
}

.hero-image-cta {
	border: 0;
	.btn-view-offers {
			@include screen-lg-min {
				font-size: $font-size-md;
				font-weight: bold;
				padding: 14px 64px;
			}
		}	
}

.hero-cta__telgroup,
.hero-image-cta__telgroup {
	a {
		color: $white;
	}
}

.hero-image-cta__title {
	color: $gray;
}

.hero-image-cta__divider {
	color: $gray; 
}



/* ----------------------------------------------------------
//  Call-in Landing Pages 
// ---------------------------------------------------------- */

.hero-product__price {
	background-color: $highlight-primary;
	color: $white;
	&:after {
		border-color: transparent;
		border-left-color: $highlight-primary;	
	}

	.filter-price,
	.filter-label, 
	.filter-label-inline {
		color: $white;
	}
}

.hero-product__features {
	h4 {
		color: $white;
	}
	ul {
		color: $gray-light;
	}
}

.hero-promo__text {
	color: $white;
}

.hero-cta {
	color: $white;
}

.hero-cta__link {
	color: $cta-secondary;
	&:hover, 
	&:focus {
		color: $cta-secondary;
	}
}

/* ----------------------------------------------------------
//  Results Page Hero with Featured Product
// ---------------------------------------------------------- */
.hero-w-featured-product {
	background: $white top left no-repeat;
	padding: $spacing-xxs;
	text-align: center;
	@include screen-lg-min {
		height: $screen-xxs;
		background-size: auto $screen-xxs;
	}
	@for $i from 1 through $num-results-heros {
		&.hero-image-#{$i} {
			@include screen-lg-min {
				background-image: url(../img/hero/results/results_hero#{$i}_2400.jpg);
			}
			@include screen-lg-w-min {
				background-image: url(../img/hero/results/results_hero#{$i}_2800.jpg);
			}
			@include screen-xl-min {
				background-image: url(../img/hero/results/results_hero#{$i}_3200.jpg);
			}						
		}
	}

	img {
		margin: $spacing-sm 0;
	}
	h1 {
		color: $hl-primary-color;
		font-size: $font-size-xs * 2;
		font-weight: bold;
		margin-top: 0;
		margin-bottom: $spacing-sm;
		@include screen-md-min {
			font-weight: normal;
		}
	}
}

.hero__content {
	@include screen-sm-min {
		text-align: left;
	}
}

.hero__description {
	font-size: $font-size-base;
	margin-bottom: $spacing-sm;
	@include screen-md-min {	
		font-size: $font-size-sm;
	}
}

#featured-product {
	border: 1px solid $cta-primary;
	border-radius: 3px;
	padding: $spacing-base;
	margin: $spacing-md auto;
	max-width: $featured-product-width;
	header {
		border-bottom: 1px solid $gray-light;
	}
	h3 {
		color: $hl-primary-color;
		font-size: $font-size-base;
		line-height: $font-size-xs * 2;
		font-weight: bold;
		margin-top: $spacing-base;
		@include screen-md-min {
			font-weight: normal;
			font-size: $font-size-md;
			line-height: 1.2em;
		}
	}
	h4 {
		color: $cta-secondary;
		font-size: $font-size-sm;
		@include screen-md-min {
			font-size: $font-size-xs;
		}
	}
	button {
		margin-top: $spacing-xxs;
		margin-bottom: $spacing-xxs;
	}
	footer {
	}
}

.featured-product__price {
	color: $filter-price-color;
	font-size: $font-size-xs * 2;
	> * {
		border: 0;	// drupal field_collection_item override
		margin-bottom: $spacing-xxs;
	}
	@include screen-md-min {
		font-size: $font-size-md;
	}
}

.featured-product__terms {
	font-size: $font-size-xs;
}

.featured-product__list {
	font-size: $font-size-xs;
	text-align: left;
	margin-top: $spacing-md;
	ul {
		padding-left: $spacing-sm;
	}
	p {
		margin-bottom: $font-size-xs/2;
	}	
}

.featured-product__more {
	display: block;
	padding: $spacing-xs;
}






















