/**
 *
 * Typography
 *
 */
@font-face
{
    font-family: 'Open Sans';
    font-weight: normal;
    font-style: normal;

    src: url('../fonts/OpenSans-Regular-webfont.woff') format('woff'), url('../fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face
{
    font-family: 'Open Sans';
    font-weight: bold;
    font-style: normal;

    src: url('../fonts/OpenSans-Semibold-webfont.woff') format('woff'), url('../fonts/OpenSans-Semibold.ttf') format('truetype');
}

@font-face
{
    font-family: 'Open Sans';
    font-weight: 800;
    font-style: normal;

    src: url('../fonts/OpenSans-Bold-webfont.woff') format('woff'), url('../fonts/OpenSans-Bold.ttf') format('truetype');
}

.headline-base,
.sub-heading-base
{
    color: #000;
}

.text-primary
{
    color: #9d3304;
}

html,
body
{
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;

    background-color: #fff;
}

a
{
    color: #3c6792;
}

a:hover
{
    color: #507ea4;
}

.modal-body
{
    background-image: linear-gradient(180deg, #efefef 25%, #d1d3d4 64%, #d1d3d4 100%);
}

.modal-footer
{
    background-color: #d1d3d4;
}

.modal-header .close
{
    opacity: 1;
    color: #3c6792;

    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
}

.modal-header .close:hover
{
    color: #305375;
}

/* ----------------------------------------------------------
//  Actions
// ---------------------------------------------------------- */

/*=========================================
=      Header CTA Banner & Navigation       =
=========================================*/
.agent
{
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    background: #507ea4;

    -js-display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
}

.agent:after
{
    border-left-color: #507ea4;
}

.header-cta-banner
{
    display: none;

    color: white;
    background-color: #3c6792;

    -webkit-justify-content: center;
    -ms-flex-pack: center;
            justify-content: center;
}

.header-cta-banner a
{
    color: #fff;
}

.site-header .navbar-toggle
{
    color: #3c6792;
}

.site-header .navbar-toggle a
{
    color: inherit;
}

@media only screen and (max-width: 62em)
{
    .navbar .flex-nav a
    {
        font-weight: normal;
    }
    .navbar .flex-nav li a
    {
        border-top: 1px solid #ebebeb;
    }
    .navbar .flex-nav li a:focus,
    .navbar .flex-nav li a:active,
    .navbar .flex-nav li a:hover
    {
        color: #fff;
        border-top-color: #3c6792;
        background-color: #3c6792;
    }
}

.nav-primary a
{
    color: #3c6792;
}

.nav-primary a:hover
{
    color: #3c6792;
}

.nav-primary li:after
{
    color: #3c6792;
}

.order-status-nav a
{
    color: #3c6792;
}

.order-status-nav a:hover
{
    color: #3c6792;
}

.navbar-cart .badge
{
    color: #3c6792;
    border-color: #3c6792;
}

/**
 *
 * Forms.
 *
 */
.form-control
{
    border-radius: 0;
}

.form-control[placeholder]
{
    font-style: italic;
}

.email-signup
{
    text-align: center;

    border-color: rgba(255, 255, 255, .5);
}

/* ----------------------------------------------------------
//  Actions
// ---------------------------------------------------------- */
.cta-banner
{
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    color: #fff;
    background-color: #3c6792;

    -js-display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
            justify-content: center;
}

.cta-banner a
{
    color: inherit;
}

.btn
{
    border-radius: 6px;
}

.btn-primary
{
    color: #fff;
    border-color: #5bb07a;
    outline: 0;
    background-color: #5bb07a;
}

.btn-primary:hover,
.btn-primary:focus
{
    color: #5bb07a;
    border-color: #a0d1b2;
    outline: 0;
    background-color: transparent;
}

/* ----------------------------------------------------------
//  Hero section
// ---------------------------------------------------------- */
.hero
{
    border-top: 1px solid #ebebeb;
    background: #fff;
    background-image: none;
}

.node-page .hero,
.node-error-page .hero
{
    background-color: #5bb07a;
}

.node-page .hero .headline-base,
.node-error-page .hero .headline-base
{
    color: #fff;
}

/* ----------------------------------------------------------
//  Online Checkout Landing Pages (Formerly Category pages)
// ---------------------------------------------------------- */
.hero-category
{
    padding: 0;

    border-top: 1px solid silver;
    background-color: #f8f8f8;
}

@media only screen and (max-width: 30em)
{
    .hero-category .hero-image-embed
    {
        display: none;
    }
    .hero-category .hero-image-cta
    {
        margin-top: 0;
    }
}

.hero-image-headline__title
{
    color: #3c6792;
}

.hero-image-cta
{
    border: 0;
}

@media only screen and (min-width: 75em)
{
    .hero-image-cta .btn-view-offers
    {
        font-size: 20px;
        font-weight: bold;

        padding: 14px 64px;
    }
}

.hero-cta__telgroup a,
.hero-image-cta__telgroup a
{
    color: #fff;
}

.hero-image-cta__title
{
    color: #5a5a5a;
}

.hero-image-cta__divider
{
    color: #5a5a5a;
}

/* ----------------------------------------------------------
//  Call-in Landing Pages 
// ---------------------------------------------------------- */
.hero-product__price
{
    color: #fff;
    background-color: #9d3304;
}

.hero-product__price:after
{
    border-color: transparent;
    border-left-color: #9d3304;
}

.hero-product__price .filter-price,
.hero-product__price .filter-label,
.hero-product__price .filter-label-inline
{
    color: #fff;
}

.hero-product__features h4
{
    color: #fff;
}

.hero-product__features ul
{
    color: #ebebeb;
}

.hero-promo__text
{
    color: #fff;
}

.hero-cta
{
    color: #fff;
}

.hero-cta__link
{
    color: #3c6792;
}

.hero-cta__link:hover,
.hero-cta__link:focus
{
    color: #3c6792;
}

/* ----------------------------------------------------------
//  Results Page Hero with Featured Product
// ---------------------------------------------------------- */
.hero-w-featured-product
{
    padding: .5em;

    text-align: center;

    background: #fff top left no-repeat;
}

@media only screen and (min-width: 75em)
{
    .hero-w-featured-product
    {
        height: 23.44em;

        background-size: auto 23.44em;
    }
}

@media only screen and (min-width: 75em)
{
    .hero-w-featured-product.hero-image-1
    {
        background-image: url(../img/hero/results/results_hero1_2400.jpg);
    }
}

@media only screen and (min-width: 87.5em)
{
    .hero-w-featured-product.hero-image-1
    {
        background-image: url(../img/hero/results/results_hero1_2800.jpg);
    }
}

@media only screen and (min-width: 100em)
{
    .hero-w-featured-product.hero-image-1
    {
        background-image: url(../img/hero/results/results_hero1_3200.jpg);
    }
}

@media only screen and (min-width: 75em)
{
    .hero-w-featured-product.hero-image-2
    {
        background-image: url(../img/hero/results/results_hero2_2400.jpg);
    }
}

@media only screen and (min-width: 87.5em)
{
    .hero-w-featured-product.hero-image-2
    {
        background-image: url(../img/hero/results/results_hero2_2800.jpg);
    }
}

@media only screen and (min-width: 100em)
{
    .hero-w-featured-product.hero-image-2
    {
        background-image: url(../img/hero/results/results_hero2_3200.jpg);
    }
}

@media only screen and (min-width: 75em)
{
    .hero-w-featured-product.hero-image-3
    {
        background-image: url(../img/hero/results/results_hero3_2400.jpg);
    }
}

@media only screen and (min-width: 87.5em)
{
    .hero-w-featured-product.hero-image-3
    {
        background-image: url(../img/hero/results/results_hero3_2800.jpg);
    }
}

@media only screen and (min-width: 100em)
{
    .hero-w-featured-product.hero-image-3
    {
        background-image: url(../img/hero/results/results_hero3_3200.jpg);
    }
}

@media only screen and (min-width: 75em)
{
    .hero-w-featured-product.hero-image-4
    {
        background-image: url(../img/hero/results/results_hero4_2400.jpg);
    }
}

@media only screen and (min-width: 87.5em)
{
    .hero-w-featured-product.hero-image-4
    {
        background-image: url(../img/hero/results/results_hero4_2800.jpg);
    }
}

@media only screen and (min-width: 100em)
{
    .hero-w-featured-product.hero-image-4
    {
        background-image: url(../img/hero/results/results_hero4_3200.jpg);
    }
}

@media only screen and (min-width: 75em)
{
    .hero-w-featured-product.hero-image-5
    {
        background-image: url(../img/hero/results/results_hero5_2400.jpg);
    }
}

@media only screen and (min-width: 87.5em)
{
    .hero-w-featured-product.hero-image-5
    {
        background-image: url(../img/hero/results/results_hero5_2800.jpg);
    }
}

@media only screen and (min-width: 100em)
{
    .hero-w-featured-product.hero-image-5
    {
        background-image: url(../img/hero/results/results_hero5_3200.jpg);
    }
}

@media only screen and (min-width: 75em)
{
    .hero-w-featured-product.hero-image-6
    {
        background-image: url(../img/hero/results/results_hero6_2400.jpg);
    }
}

@media only screen and (min-width: 87.5em)
{
    .hero-w-featured-product.hero-image-6
    {
        background-image: url(../img/hero/results/results_hero6_2800.jpg);
    }
}

@media only screen and (min-width: 100em)
{
    .hero-w-featured-product.hero-image-6
    {
        background-image: url(../img/hero/results/results_hero6_3200.jpg);
    }
}

@media only screen and (min-width: 75em)
{
    .hero-w-featured-product.hero-image-7
    {
        background-image: url(../img/hero/results/results_hero7_2400.jpg);
    }
}

@media only screen and (min-width: 87.5em)
{
    .hero-w-featured-product.hero-image-7
    {
        background-image: url(../img/hero/results/results_hero7_2800.jpg);
    }
}

@media only screen and (min-width: 100em)
{
    .hero-w-featured-product.hero-image-7
    {
        background-image: url(../img/hero/results/results_hero7_3200.jpg);
    }
}

@media only screen and (min-width: 75em)
{
    .hero-w-featured-product.hero-image-8
    {
        background-image: url(../img/hero/results/results_hero8_2400.jpg);
    }
}

@media only screen and (min-width: 87.5em)
{
    .hero-w-featured-product.hero-image-8
    {
        background-image: url(../img/hero/results/results_hero8_2800.jpg);
    }
}

@media only screen and (min-width: 100em)
{
    .hero-w-featured-product.hero-image-8
    {
        background-image: url(../img/hero/results/results_hero8_3200.jpg);
    }
}

@media only screen and (min-width: 75em)
{
    .hero-w-featured-product.hero-image-9
    {
        background-image: url(../img/hero/results/results_hero9_2400.jpg);
    }
}

@media only screen and (min-width: 87.5em)
{
    .hero-w-featured-product.hero-image-9
    {
        background-image: url(../img/hero/results/results_hero9_2800.jpg);
    }
}

@media only screen and (min-width: 100em)
{
    .hero-w-featured-product.hero-image-9
    {
        background-image: url(../img/hero/results/results_hero9_3200.jpg);
    }
}

.hero-w-featured-product img
{
    margin: 1.5em 0;
}

.hero-w-featured-product h1
{
    font-size: 24px;
    font-weight: bold;

    margin-top: 0;
    margin-bottom: 1.5em;

    color: #3c6792;
}

@media only screen and (min-width: 62em)
{
    .hero-w-featured-product h1
    {
        font-weight: normal;
    }
}

@media only screen and (min-width: 47.875em)
{
    .hero__content
    {
        text-align: left;
    }
}

.hero__description
{
    font-size: 16px;

    margin-bottom: 1.5em;
}

@media only screen and (min-width: 62em)
{
    .hero__description
    {
        font-size: 14px;
    }
}

#featured-product
{
    max-width: 21.625em;
    margin: 2em auto;
    padding: 1em;

    border: 1px solid #5bb07a;
    border-radius: 3px;
}

#featured-product header
{
    border-bottom: 1px solid #ebebeb;
}

#featured-product h3
{
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;

    margin-top: 1em;

    color: #3c6792;
}

@media only screen and (min-width: 62em)
{
    #featured-product h3
    {
        font-size: 20px;
        font-weight: normal;
        line-height: 1.2em;
    }
}

#featured-product h4
{
    font-size: 14px;

    color: #3c6792;
}

@media only screen and (min-width: 62em)
{
    #featured-product h4
    {
        font-size: 12px;
    }
}

#featured-product button
{
    margin-top: .5em;
    margin-bottom: .5em;
}

.featured-product__price
{
    font-size: 24px;

    color: #3c6792;
}

.featured-product__price > *
{
    margin-bottom: .5em;

    border: 0;
}

@media only screen and (min-width: 62em)
{
    .featured-product__price
    {
        font-size: 20px;
    }
}

.featured-product__terms
{
    font-size: 12px;
}

.featured-product__list
{
    font-size: 12px;

    margin-top: 2em;

    text-align: left;
}

.featured-product__list ul
{
    padding-left: 1.5em;
}

.featured-product__list p
{
    margin-bottom: 6px;
}

.featured-product__more
{
    display: block;

    padding: .75em;
}

#cta-footer
{
    padding-bottom: 4.125em;
}

.footer-navbar-light
{
    background-color: #fff;
}

.footer-navbar-light a
{
    color: #3c6792;
}

.footer-navbar-dark
{
    color: #fff;
    background-color: #242424;
}

.footer-navbar-dark a
{
    color: #fff;
}

.footer-nav-primary
{
    color: #3c6792;
}

.footer-logo img
{
    width: auto;
    height: 35px;
    margin: 20px;
}

.footer-navbar
{
    font-size: 14px;
}

.footer-nav
{
    margin-bottom: 10px;
}

.section-hr
{
    border-bottom: 2px solid #ebebeb;
}

.section-hr-white
{
    border-top: 2px solid #fff;
}

/*=============================================
=            Frontpage            =
=============================================*/
@media only screen and (max-width: 62em)
{
    .brand-value
    {
        border-bottom: 1px solid #ebebeb;
    }
}

.filter
{
    min-height: 324px;
    padding: 0 2em;

    color: #000;
    border-color: #5bb07a;
    border-radius: 3px;
    background-color: #fff;
}

.filter .btn-view-offers
{
    font-weight: normal;
}

@media only screen and (min-width: 47.875em) and (max-width: 62em)
{
    .filter
    {
        padding: 0 1em;
    }
}

.filter-header
{
    border-bottom: 2px solid #ebebeb;
}

.filter-price
{
    font-size: 32px;
    font-weight: normal;

    color: #3c6792;
}

@media only screen and (min-width: 47.875em) and (max-width: 62em)
{
    .filter-price
    {
        font-size: 20px;
    }
}

.filter-price div
{
    border: 0;
}

.filter-label,
.filter-label-inline
{
    color: #999;
}

.filter-feature-group .filter-feature:not(:last-of-type)
{
    border-right: 2px solid #ebebeb;
}

@media only screen and (min-width: 47.875em)
{
    .filter-promoted .filter-footer
    {
        border-top: 2px solid #ebebeb;
    }
}

.filters-disclaimer
{
    margin-top: 1.5em;

    color: #9d3304;
}

.node-type-results-page .filters-disclaimer
{
    font-size: 14px;
    font-weight: bold;
}

@media only screen and (max-width: 47.875em)
{
    .node-type-results-page .filters-disclaimer
    {
        text-align: center;
    }
}

.filter-title
{
    font-size: 24px;
    font-weight: normal;
}

@media only screen and (min-width: 47.875em) and (max-width: 62em)
{
    .filter-title
    {
        font-size: 20px;
    }
}

.filter-desc
{
    margin: .75em 0;
}

.filter-header
{
    border-bottom-width: 1px;
}

/* -------------------------------------------
//  Search results call-in overlay
// -------------------------------------------*/
.call-overlay .modal-content
{
    background-image: linear-gradient(0deg, #5bb07a 43%, #fff 43%);
}

.call-overlay .modal-header
{
    background: url(../img/call-in-popup-agent-min.png) center 18% no-repeat;
}

.call-overlay .modal-body
{
    border-color: #5bb07a;
    background-color: #fff;
    background-image: none;
}

.call-overlay .modal-footer
{
    color: #fff;
    background-color: #5bb07a;
}

.call-overlay__label
{
    color: #5a5a5a;
    background: #fff;
}

.call-overlay__promo
{
    color: #5bb07a;
}

/* ----------------------------------------------------------
//  Search pop-up
// ---------------------------------------------------------- */
.block-ac-results .block-content-area
{
    background-color: #fff;
}

.block-ac-results .block-content-area .block-header .block-header__link span
{
    border-bottom-color: #3c6792;
}

.block-ac-results .block-content-area .block-header .block-header__link i
{
    color: #3c6792;
}

.block-ac-results .block-content-area .block-header .block-header__link:hover span
{
    color: #3c6792 !important;
}

.block-ac-results .block-content-area .block-body .block-svg-icon .st10,
.block-ac-results .block-content-area .block-body .block-svg-icon .st12,
.block-ac-results .block-content-area .block-body .block-svg-icon .st15
{
    stroke: #3c6792;
}

.block-ac-results .block-content-area .block-body .block-svg-icon .st11,
.block-ac-results .block-content-area .block-body .block-svg-icon .st14
{
    fill: #3c6792;
}

.block-ac-results .block-content-area .block-body .block-body__callout
{
    color: #3c6792;
}

.block-ac-results .block-content-area .block-footer
{
    border-color: #3c6792;
}

.block-ac-results .block-content-area .block-footer .block-footer__phone
{
    color: #3c6792;
}

.block-ac-results .block-content-cover
{
    background-color: #3c6792;
}

.block-ac-results.closed .block-content-wrap .block-content-area
{
    background-color: #3c6792;
}

#filterContainer .filters-wrap
{
    font-size: 13px;

    margin-bottom: 2em;

    border: 1px solid #ebebeb;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#filterContainer .filter-title
{
    font-size: 13px;

    padding: 1em;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #3c6792;
}

#filterContainer .filter-title h4
{
    font-size: inherit;
    font-weight: normal;

    display: inline;

    margin: 0;

    text-transform: uppercase;

    color: #fff;
}

#filterContainer .filter-title a
{
    font-weight: bold;

    float: right;

    text-decoration: underline;

    color: #fff;
}

@media only screen and (max-width: 62em)
{
    #filterContainer .filter-title a
    {
        color: #3c6792;
    }
}

#filterContainer h5
{
    font-size: 13px;

    margin-top: 2em;
    margin-bottom: 1.5em;

    text-transform: uppercase;
}

#filterContainer .filter-row
{
    padding-left: 1em;
}

#filterContainer .filter-row:not(:last-child)
{
    padding-bottom: 0 !important;
}

#filterToggleOn
{
    text-transform: uppercase;

    border: 0;
    background-color: #9d3304;
}

#filterToggleOn:hover
{
    color: #fff;
}

@media only screen and (min-width: 47.875em) and (max-width: 62em)
{
    #filterToggleOn
    {
        position: absolute;
        right: 0;

        margin: 0 1em;

        border-radius: 6px;
    }
}

.DimensionValue input
{
    outline: 0;
}

.DimensionValue input[type=checkbox]:checked + label
{
    color: #3c6792;
}

/* ----------------------------------------------------------
//  Plan results.
// ---------------------------------------------------------- */
.alert
{
    margin-top: 2em;
    margin-bottom: 0;

    text-align: center;
}

.alert button
{
    padding: 0 1em;
}

.alert strong,
.alert p
{
    color: #3c6792;
}

.changeLocContents
{
    color: #fff;
    background-color: #5bb07a;
}

.locationAddress a
{
    color: #fff;
    border-color: #fff;
}

#resultLabels
{
    font-size: 13px;

    color: #9f9c9d;
}

#resultLabels .fa
{
    font-size: 2em;
    line-height: 18px;

    margin-left: .75em;

    vertical-align: top;

    color: #3c6792;
}

.results-container
{
    padding: .75em 0;
}

@media only screen and (min-width: 47.875em)
{
    .results-container
    {
        padding: 2.5em 0;
    }
}

.result
{
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 13px;

    position: relative;

    border: 1px solid #ebebeb;
}

@media only screen and (max-width: 47.875em)
{
    .result
    {
        max-width: 23.44em;
    }
}

.result .col
{
    padding: 1.25em;
}

@media only screen and (min-width: 47.875em)
{
    .result .col
    {
        height: 170px;
    }
    .result .col:not(:first-child)
    {
        border-left: 1px solid #ebebeb;
    }
}

.result__more
{
    padding: 1.25em;

    text-align: center;

    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
}

@media only screen and (min-width: 47.875em)
{
    .result__more
    {
        position: absolute;
        top: 100px;

        text-align: left;

        border: 0;
    }
}

.result__more-label
{
    cursor: pointer;
    text-decoration: underline;

    color: #3c6792;
}

.result__more-label .glyphicon:before
{
    margin-left: .5em;
}

.result__more-label:before
{
    content: 'More ';
}

.result__more-input
{
    display: none;
}

.result__more-input:checked + label i:before
{
    content: '\e113';
}

.result__more-input:checked + label:before
{
    content: 'Less ';
}

.result__btn-call
{
    font-size: 14px;
}

@media only screen and (min-width: 47.875em)
{
    .result__btn-select
    {
        padding-right: .5em;
        padding-left: .5em;
    }
}

#nameCol
{
    text-align: center;
}

@media only screen and (min-width: 47.875em)
{
    #nameCol
    {
        text-align: left;
    }
}

#nameCol h3
{
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
}

@media only screen and (min-width: 47.875em)
{
    #nameCol h3
    {
        font-size: 13px;

        margin-top: 1.5em;
    }
}

#metaCol
{
    font-size: 24px;
    font-weight: bold;
    line-height: 2;

    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    padding-top: 0;

    text-align: center;
    vertical-align: text-bottom;

    color: #3c6792;

    -js-display: flex;
    -webkit-flex-flow: column nowrap;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
}

@media only screen and (max-width: 75em) and (min-width: 47.875em)
{
    #metaCol
    {
        font-size: 20px;
    }
}

#metaCol sup
{
    font-size: 100%;
    font-weight: normal;

    top: 0;
}

#termsCol
{
    padding-right: 1.5em;
    padding-left: 1.5em;

    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
}

@media only screen and (min-width: 47.875em)
{
    #termsCol
    {
        border-top: 0;
        border-bottom: 0;
    }
}

#termsCol ul
{
    padding-left: 1.2em;
}

#termsCol ul:first-child
{
    padding-left: 0;

    list-style-type: none;

    text-transform: uppercase;
}

@media only screen and (min-width: 47.875em)
{
    #termsCol ul:first-child
    {
        margin-top: 1.5em;
    }
}

#termsCol.highlight:before
{
    font: normal normal normal 2.5em/1 FontAwesome;

    float: right;

    content: '\f06c';

    color: #5bb07a;

    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media only screen and (min-width: 47.875em)
{
    #termsCol.highlight:before
    {
        margin-top: .75em;
    }
}

#promoCol
{
    font-weight: bold;

    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    text-align: center;

    color: #5bb07a;

    -js-display: flex;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
}

#promoCol p
{
    max-width: 100%;
}

#sortResultsListForm
{
    height: 0 !important;
}

#callInNumber
{
    font-size: 14px;

    color: #5bb07a;
}

#callInNumber strong
{
    display: block;
}

#orderstatus_page .logincontainer .title
{
    color: #3c6792;
}

#orderstatus_page .relatedInfo li
{
    color: #3c6792;
}

/* #cbForm {
    #cbPreferDate-button {
        width:100% !important;
        background-image: none !important;
        border:none;
        font-size:16px !important;
        @include rounded(0px,0px,0px,0px);

        .ui-icon {
            right:15px;
            margin:0px;
            top:0px;
            background-image:none;
        }
        .ui-selectmenu-text {
            padding:0px;
        }
    }
    #cbSelectOptions {
        ul {
            border:none;
            background-color:$white;
            background-image: none !important;
            
            li {
                border:none;
                font-size:16px !important;
                background-image: none !important;
                background-color: transparent !important;
                font-weight:normal;
                padding:5px 15px !important;
                color:$cta-primary !important;
            }
        }
    }

} */
.cbCheckout
{
    background-color: whitesmoke;
}

.cbCheckout h2
{
    color: #fff;
    background-color: #3c6792;
    /* font-size:14px;
        height:50px;
        line-height:50px; */
}

.cbCheckout .input-wrap input
{
    border-color: #fff;
}

.cbCheckout .input-wrap .err-msg
{
    color: #5bb07a;
}

.cbCheckout .input-wrap.err
{
    color: #5bb07a;
}

.cbCheckout .input-wrap.err input
{
    border-color: #5bb07a;
}

.cbCheckout .input-wrap.err-req:after,
.cbCheckout .input-wrap.err-req label
{
    color: #5bb07a !important;
}

.cbCheckout #cbBreadcrumbs
{
    color: #3c6792;
    border-color: #3c6792;
}

.cbCheckout #cbBreadcrumbs li
{
    font-size: 16px;
}

.cbCheckout #cbBreadcrumbs li:first-child:before,
.cbCheckout #cbBreadcrumbs li:last-child:before
{
    border-color: #3c6792;
    /* line-height: 48px;
                    height:50px;
                    width:50px; */
}

.cbCheckout #cbBreadcrumbs li.cb-caret > div:before
{
    border-left-color: #3c6792;
}

.cbCheckout #cbBreadcrumbs li.cb-caret > div:after
{
    border-left-color: whitesmoke;
}

.cbCheckout .cb-cols .check-wrap label:before
{
    background: transparent url('../img/checkbox_sprite.png') no-repeat top left;
}

.cbCheckout .cb-cols section label
{
    color: #a1a1a1;
}

.cbCheckout .cb-cols section .check-wrap label
{
    color: #000;
}

.cbCheckout .cb-cols #cbCart
{
    background-color: #fff;
}

.cbCheckout .cb-cols #cbCart .cb-cust-info
{
    background-color: #5e8dbd;
}

.cbCheckout .cb-cols #cbCart .reveal-wrap .reveal-panel
{
    background-color: #ebebeb;
}

.cbCheckout .cb-cols #cbCart .reveal-wrap .reveal-panel ul li,
.cbCheckout .cb-cols #cbCart .reveal-wrap .reveal-panel ul li:first-child,
.cbCheckout .cb-cols #cbCart .reveal-wrap .reveal-panel ul li:before
{
    color: #242424;
    border-color: #a1a1a1;
}

.cbCheckout .cb-cols #cbCart .reveal-wrap .reveal-panel p
{
    color: #242424;
}

.cbCheckout .cb-cols #cbSecureInfo
{
    background-color: #fff;
}

.cbCheckout .cb-cols #cbSecureInfo h4
{
    color: #a1a1a1;
    border-color: #ebebeb;
}

.cbCheckout#cbStep1 #cbBreadcrumbs li:first-child:before
{
    color: #fff;
    background-color: #3c6792;
}

.cbCheckout#cbStep1 #cbForm section#cbInstallation #cbPreferDate-button
{
    color: #5bb07a;
}

.cbCheckout#cbStep1 #cbForm section#cbInstallation #cbPreferDate-button .ui-icon:before
{
    border-top-color: #5bb07a;
}

.cbCheckout#cbStep1 #cbForm section#cbInstallation #cbSelectOptions .ui-selectmenu-menu
{
    color: #5bb07a;
}

.cbCheckout#cbStep1 #cbForm section#cbCustomerInfo span.disclaimer
{
    color: #a1a1a1;
}

.cbCheckout#cbStep1 #cbCTAs a
{
    color: #a1a1a1;
}

.cbCheckout#cbStep1 #cbCTAs span
{
    color: #242424;
}

.cbCheckout#cbStep2 #cbBreadcrumbs li:before
{
    color: #fff;
    background-color: #3c6792;
}

.cbCheckout#cbStep2 #cbConfirm section div p:last-child
{
    color: #8c8c8c;
}

.cbCheckout#cbStep2 #cbConfirm section ul li:before
{
    color: #3c6792;
    border-color: #3c6792;
    background-color: transparent;
    /* line-height: 40px;
                            height:40px;
                            width:40px; */
}

.cbCheckout#cbStep2 #cbConfirm section ul li div strong
{
    color: #3c6792;
    /* font-size:18px;
                                margin:9px 0px; */
}

/*# sourceMappingURL=skin.css.map */
