// ==========================================================================
// Variables.
// ==========================================================================

// Basic Colors.
$white:                   #FFF;
$white-alpha:			  rgba($white, 0.5);	// awful variable name
$black:                   #0e0e0e;
$gray:					  				#999;
$gray-light:              #ebebeb;
$gray-medium:             #5A5A5C;
$gray-charcoal:           #242424;
$gray-dark:           	  #333;

//Checkout specific
$white-bg:			      #f5f5f3;
$label-gray: 			  #a2a2a1;
$blue-lightest:			  #e7f0f5;

// Brand Colors.
$brand-primary:           #C8001D; 	// red
$brand-secondary: 		  #2B9CD8; 	// blue

//### Primary color for call to action elements.
$cta-primary:               $brand-secondary;

// Body colors.
$body-font-color:           $black;
$body-bg-color:             $white;

// Border colors.
$border-medium:            $gray-medium;
$border-light:             $gray-light;
$border-default: 					 $white-alpha;


// Headline colors.
$hl-primary-color:          $brand-primary;
$hl-secondary-color:        $gray-medium;

// Link colors.
$nav-link-color:            $brand-secondary;
$link-color:                $brand-secondary;

// Cart
$cart-badge-font-color:     $brand-primary;

// Horizontal Rule.
$hr-color:                  $gray-light;


// Footer colors.
$footer-bg-light:           $white;

$footer-bg-dark:            $gray-charcoal;
$footer-dark-text-color:    $white;
$footer-dark-link-color:    $footer-dark-text-color;

// Filters.
$filter-body-font-color:    $gray-medium;
$filter-bg-color:           $white;

// Toggle color.
$navbar-toggle-color:       $brand-primary;

// Navbar Links.
$navbar-link-bg-hover:      $brand-secondary;
$navbar-link-border-color:  $gray-light;
$navbar-link-hover:         $white;

// Filters.
$filter-price-color:        $brand-primary;

// Buttons.
$btn-border-radius: 1.875em; //30px.
$btn-primary-bg:            $brand-secondary;
$btn-primary-bg-hover:      darken($brand-secondary, 8%);




