/* -----------------------------------------------------------------
//  Hero for Category pages
// ----------------------------------------------------------------- */


.hero-category,
.hero-provider {
	@include screen-sm-min {
		padding: $spacing-xs 0;
	}	
	@include screen-lg-min {
		height: 28em;
	}
}

.hero__title {
	max-width: 565px;
}

.hero__address {
	padding: $spacing-sm $spacing-xs;
	margin-top: $spacing-lg;
	width: 100%;
	@include screen-md-min {
		width: 53%;
	}

	@media only screen and (min-width: 766px) and (max-width: 1024px) and (orientation: portrait) {
        width: 80%;
        -webkit-align-self: center;
        -moz-align-self: center;
        align-self: center;
        margin-left: auto;
        margin-right: auto;
	}

	@media only screen and (min-width: 766px) and (max-width: 1024px) and (orientation: landscape) {
        width: 63%;
	}

	.col {
		@include screen-mobile {
	        padding-right: 15px;
	        text-align: center;
	   	}

	   	@include screen-tablet-portrait {
	        padding-right: 0px;
	   	}

	   	@include screen-desktop {
	        padding-right: 0px;
	   	}
	}
	.form-control {
		border-radius: 2px;
		box-shadow: none;
		height: 43px;
	}
	p {
		text-align: left;
		margin: $spacing-base 0;
		@include screen-mobile {
      text-align: center;
    }
  }	
	button {
		width: 120px;
		height: 43px;
		text-transform: uppercase;
	}
	img {
		@include screen-desktop {
			float: left;
			margin-right: $spacing-md;
		}
	}
	form {
		clear: both;
	}

	.provider-logo img {
		width: 100%;
		max-width: 100px;
	}
}

