/*=========================================
=            Header CTA Banner            =
=========================================*/
.agent {
    background: $gray-medium;
    display: flex;
    justify-content: center;
    align-items: center;

    &:after {
        border-color: rgba(136, 183, 213, 0);
        border-left-color: $gray-medium;
    }

    // &:before {
    //     border-color: rgba(255, 255, 255, 0);
    //     border-left-color: $white;
    // }
}

.agent-icon-fill {
    fill: $white;
}
/*=========================================
=            Header CTA Banner            =
=========================================*/
