/**
 *
 * Typography
 *
 */
.headline-base,
.sub-heading-base,
.text-primary
{
    color: #c8001d;
}

a
{
    color: #2b9cd8;
}

a:hover
{
    color: #2b9cd8;
}

.modal-body
{
    background-image: linear-gradient(180deg, #efefef 25%, #d1d3d4 64%, #d1d3d4 100%);
}

.modal-footer
{
    background-color: #d2d2d2;
}

.modal-header .close
{
    opacity: 1;
    color: #2b9cd8;

    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
}

.modal-header .close:hover
{
    color: #2284b8;
}

/* ----------------------------------------------------------
//  Actions
// ---------------------------------------------------------- */

.site-header .navbar-toggle
{
    color: #c8001d;
}

.site-header .navbar-toggle a
{
    color: inherit;
}

/*=========================================
=            Header CTA Banner            =
=========================================*/
.agent
{
    display: -ms-flexbox;
    display: flex;

    background: #5a5a5c;

    -js-display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}

.agent:after
{
    border-color: rgba(136, 183, 213, 0);
    border-left-color: #5a5a5c;
}

.agent-icon-fill
{
    fill: #fff;
}

/*=========================================
=            Header CTA Banner            =
=========================================*/
@media only screen and (max-width: 62em)
{
    .navbar .flex-nav a
    {
        font-weight: normal;
    }
    .navbar .flex-nav li a
    {
        border-top: 1px solid #ebebeb;
    }
    .navbar .flex-nav li a:focus,
    .navbar .flex-nav li a:active
    {
        font-weight: bold;

        color: #fff;
        border-top-color: #2b9cd8;
        background-color: #2b9cd8;
    }
}

.navbar-cart .badge
{
    color: #c8001d;
    border-color: #2b9cd8;
}

/**
 *
 * Forms.
 *
 */
.form-control
{
    border-radius: 0;
}

.form-control[placeholder]
{
    font-style: italic;
}

.email-signup
{
    text-align: center;

    border-color: rgba(255, 255, 255, .5);
}

.nav-primary,
.footer-nav-primary
{
    color: #2b9cd8;
}

.order-status-nav a
{
    color: #2b9cd8;
}

.order-status-nav a:hover
{
    color: #2b9cd8;
}

/* ----------------------------------------------------------
//  Actions
// ---------------------------------------------------------- */
.cta-banner,
.header-cta-banner
{
    display: -ms-flexbox;
    display: flex;

    -js-display: flex;
    -ms-flex-pack: center;
    justify-content: center;
}

.cta-banner
{
    color: #fff;
    background-color: #2b9cd8;
}

.cta-banner a
{
    color: inherit;
}

.header-cta-banner
{
    color: white;
    background-color: #ebebeb;
}

.header-cta-banner a
{
    color: #c8001d;
}

.btn
{
    border-radius: 1.875em;
}

.btn-primary
{
    color: #fff;
    border-color: #2b9cd8;
    background-color: #2b9cd8;
}

.btn-primary:hover
{
    color: #2b9cd8;
    border-color: #2284b8;
    background-color: transparent;
}

/* ----------------------------------------------------------
//  Hero section
// ---------------------------------------------------------- */
.hero
{
    background-image: linear-gradient(0deg, #d1d3d4 0%, #f6f6f6 64%, #d1d3d4 100%);
}

/* ----------------------------------------------------------
//  Hero with images
// ---------------------------------------------------------- */
.hero-image
{
    background-color: #0e0e0e;
}

.hero-image-headline__title,
.hero-image-headline__subhead
{
    color: #fff;
}

.hero-cta__telgroup,
.hero-image-cta
{
    border-color: #ebebeb;
    border-color: rgba(255, 255, 255, .5);
}

.hero-cta__telgroup a,
.hero-image-cta__telgroup a
{
    color: #fff;
}

.hero-image-cta__title
{
    color: #999;
}

.hero-image-cta__divider
{
    color: #999;
}

/* ----------------------------------------------------------
//  Hero for Landing Pages
// ---------------------------------------------------------- */
.hero-product__price
{
    color: #fff;
    background-color: #2b9cd8;
}

.hero-product__price:after
{
    border-color: transparent;
    border-left-color: #2b9cd8;
}

.hero-product__price .filter-price,
.hero-product__price .filter-label,
.hero-product__price .filter-label-inline
{
    color: #fff;
}

.hero-product__features h4
{
    color: #fff;
}

.hero-product__features ul
{
    color: #ebebeb;
}

.hero-promo__text
{
    color: #fff;
}

.hero-cta
{
    color: #fff;
}

.footer-navbar-light
{
    background-color: #fff;
}

.footer-navbar-light a
{
    color: #2b9cd8;
}

.footer-navbar-dark
{
    color: #fff;
    background-color: #242424;
}

.footer-navbar-dark a
{
    color: #fff;
}

.section-hr
{
    border-bottom: 2px solid #ebebeb;
}

.section-hr-white
{
    border-top: 2px solid #fff;
}

/*=============================================
=            Frontpage            =
=============================================*/
@media only screen and (max-width: 62em)
{
    .brand-value
    {
        border-bottom: 1px solid #ebebeb;
    }
}

.filter
{
    color: #5a5a5c;
    background-color: #fff;
}

.filter-header
{
    border-bottom: 2px solid #ebebeb;
}

.filter-price
{
    color: #c8001d;
}

.filter-label,
.filter-label-inline
{
    color: #5a5a5c;
}

.filter-feature-group .filter-feature:not(:last-of-type)
{
    border-right: 2px solid #ebebeb;
}

@media only screen and (min-width: 47.875em)
{
    .filter-promoted .filter-footer
    {
        border-top: 2px solid #ebebeb;
    }
}

/* ----------------------------------------------------------
//  Search pop-up
// ---------------------------------------------------------- */
.block-ac-results .block-content-area
{
    background-color: #fff;
}

.block-ac-results .block-content-area .block-header .block-header__link span
{
    border-bottom-color: #2b9cd8;
}

.block-ac-results .block-content-area .block-header .block-header__link i
{
    color: #2b9cd8;
}

.block-ac-results .block-content-area .block-header .block-header__link:hover span
{
    color: #2b9cd8 !important;
}

.block-ac-results .block-content-area .block-body .block-svg-icon .st10,
.block-ac-results .block-content-area .block-body .block-svg-icon .st12,
.block-ac-results .block-content-area .block-body .block-svg-icon .st15
{
    stroke: #2b9cd8;
}

.block-ac-results .block-content-area .block-body .block-svg-icon .st11,
.block-ac-results .block-content-area .block-body .block-svg-icon .st14
{
    fill: #2b9cd8;
}

.block-ac-results .block-content-area .block-body .block-body__callout
{
    color: #2b9cd8;
}

.block-ac-results .block-content-area .block-footer
{
    border-color: #2b9cd8;
}

.block-ac-results .block-content-area .block-footer .block-footer__phone
{
    color: #2b9cd8;
}

.block-ac-results .block-content-cover
{
    background-color: #2b9cd8;
}

.block-ac-results.closed .block-content-wrap .block-content-area
{
    background-color: #2b9cd8;
}

/* -------------------------------------------
//  Search results call-in overlay
// -------------------------------------------*/
.call-overlay .modal-content
{
    background-image: linear-gradient(0deg, #2b9cd8 43%, #fff 43%);
}

.call-overlay .modal-header
{
    background: url(../img/call-in-popup-agent-min.png) center 18% no-repeat;
}

.call-overlay .modal-body
{
    border-color: #2b9cd8;
    background-color: #fff;
    background-image: none;
}

.call-overlay .modal-footer
{
    color: #fff;
    background-color: #2b9cd8;
}

.call-overlay__label
{
    color: #999;
    background: #fff;
}

.call-overlay__promo
{
    color: #2b9cd8;
}

.results-container #filterContainer .filters .filters-wrap .filter-row .filter-title
{
    background-color: #ebebeb;
}

.results-container #filterContainer .filters .filters-wrap .filter-row .filter-box
{
    border-color: #ebebeb;
}

.results-container #filterContainer .filters .filters-wrap .filter-row .filter-box .DimensionValue input[type=checkbox]:checked + label
{
    color: #2b9cd8;
}

.changeLocContents
{
    background-color: #5a5a5c;
}

#multipleProvidersAlert strong,
#multipleProvidersAlert p
{
    color: #2b9cd8;
}

#multipleProvidersAlert div.close-alert
{
    color: #2b9cd8;
}

#multipleProvidersAlert div.bg-cover
{
    background-color: #2b9cd8;
}

#multipleProvidersAlert div.bg-border
{
    border-color: #2b9cd8;
}

.results-container .compareBtnDiv
{
    background-color: #ebebeb;
}

.results-container .compareBtnDiv a
{
    color: #333;
}

.results-container .compareBtnDiv a .resultsCountAC
{
    color: #333;
}

.results-container #filterToggleOn:hover,
.results-container #filterToggleOff:hover
{
    color: #fff;
    background-color: #2b9cd8;
}

@media only screen and (min-width: 62em)
{
    .results-container #filterToggleOn:hover,
    .results-container #filterToggleOff:hover
    {
        color: #2b9cd8;
        background-color: transparent;
    }
}

.results-container #resultsContainer .result .result-wrap #superCol1 .more-details
{
    color: #2b9cd8;
}

.results-container #resultsContainer .result .result-wrap #superCol2 #minorCol1 .price-lockup
{
    color: #c8001d;
}

.results-container #resultsContainer .result .result-wrap #superCol2 #minorCol1 .btn
{
    color: #fff;
    background-color: #2b9cd8;
}

.results-container #resultsContainer .result .result-wrap #superCol2 #minorCol1 .btn:hover
{
    color: #2b9cd8;
    background-color: transparent;
}

.results-container #resultsContainer .result .result-wrap #superCol2 #minorCol1 #callInNumber span,
.results-container #resultsContainer .result .result-wrap #superCol2 #minorCol1 #callInNumber strong
{
    color: #2b9cd8;
}

.results-container #resultsContainer .result .result-wrap #superCol2 #minorCol2 .meta-wrap:before,
.results-container #resultsContainer .result .result-wrap #superCol2 #minorCol2 .meta-wrap p,
.results-container #resultsContainer .result .result-wrap #superCol2 #minorCol2 .meta-wrap a
{
    color: #2b9cd8;
}

@media only screen and (min-width: 47.875em)
{
    .results-container #resultsContainer .result .result-wrap #superCol1 h3
    {
        color: #c8001d;
    }
}

.results-container #resultsContainer .result .reveal-panel h3
{
    color: #c8001d;
}

.results-container #resultsContainer .result .reveal-panel .reveal-panel_promo-box p
{
    color: #2b9cd8;
    border-color: #2b9cd8;
}

.results-container .results-btm .pagination li a
{
    color: #2b9cd8;
}

.results-container .results-btm .pagination li a:hover
{
    text-decoration: none;
}

.results-container .results-btm .pagination li.active a
{
    color: #fff;
    background-color: #2b9cd8;
}

.termsCol__promo
{
    color: #c8001d;
}

/* #cbForm {
    #cbPreferDate-button {
        width:100% !important;
        background-image: none !important;
        border:none;
        font-size:16px !important;
        @include rounded(0px,0px,0px,0px);

        .ui-icon {
            right:15px;
            margin:0px;
            top:0px;
            background-image:none;
        }
        .ui-selectmenu-text {
            padding:0px;
        }
    }
    #cbSelectOptions {
        ul {
            border:none;
            background-color:$white;
            background-image: none !important;
            
            li {
                border:none;
                font-size:16px !important;
                background-image: none !important;
                background-color: transparent !important;
                font-weight:normal;
                padding:5px 15px !important;
                color:$brand-primary !important;
            }
        }
    }

} */
.cbCheckout
{
    background-color: #f5f5f3;
}

.cbCheckout h2
{
    color: #fff;
    background-color: #2b9cd8;
    /* font-size:14px;
        height:50px;
        line-height:50px; */
}

.cbCheckout .input-wrap input
{
    border-color: #fff;
}

.cbCheckout .input-wrap .err-msg
{
    color: #c8001d;
}

.cbCheckout .input-wrap.err
{
    color: #c8001d;
}

.cbCheckout .input-wrap.err input
{
    border-color: #c8001d;
}

.cbCheckout .input-wrap.err-req:after,
.cbCheckout .input-wrap.err-req label
{
    color: #c8001d !important;
}

.cbCheckout #cbBreadcrumbs
{
    color: #2b9cd8;
    border-color: #2b9cd8;
}

.cbCheckout #cbBreadcrumbs li
{
    font-size: 16px;
}

.cbCheckout #cbBreadcrumbs li:first-child:before,
.cbCheckout #cbBreadcrumbs li:last-child:before
{
    border-color: #2b9cd8;
    /* line-height: 48px;
                    height:50px;
                    width:50px; */
}

.cbCheckout #cbBreadcrumbs li.cb-caret > div:before
{
    border-left-color: #2b9cd8;
}

.cbCheckout #cbBreadcrumbs li.cb-caret > div:after
{
    border-left-color: #f5f5f3;
}

.cbCheckout .cb-cols .check-wrap label:before
{
    background: transparent url('../img/checkbox_sprite.png') no-repeat top left;
}

.cbCheckout .cb-cols section label
{
    color: #a2a2a1;
}

.cbCheckout .cb-cols section .check-wrap label
{
    color: #0e0e0e;
}

.cbCheckout .cb-cols #cbCart
{
    background-color: #fff;
}

.cbCheckout .cb-cols #cbCart .cb-cust-info
{
    background-color: #e7f0f5;
}

.cbCheckout .cb-cols #cbCart .reveal-wrap .reveal-panel
{
    background-color: #ebebeb;
}

.cbCheckout .cb-cols #cbCart .reveal-wrap .reveal-panel ul li,
.cbCheckout .cb-cols #cbCart .reveal-wrap .reveal-panel ul li:first-child,
.cbCheckout .cb-cols #cbCart .reveal-wrap .reveal-panel ul li:before
{
    color: #242424;
    border-color: #a2a2a1;
}

.cbCheckout .cb-cols #cbCart .reveal-wrap .reveal-panel p
{
    color: #242424;
}

.cbCheckout .cb-cols #cbSecureInfo
{
    background-color: #fff;
}

.cbCheckout .cb-cols #cbSecureInfo h4
{
    color: #a2a2a1;
    border-color: #ebebeb;
}

.cbCheckout#cbStep1 #cbBreadcrumbs li:first-child:before
{
    color: #fff;
    background-color: #2b9cd8;
}

.cbCheckout#cbStep1 #cbForm section#cbInstallation #cbPreferDate-button
{
    color: #c8001d;
}

.cbCheckout#cbStep1 #cbForm section#cbInstallation #cbPreferDate-button .ui-icon:before
{
    border-top-color: #c8001d;
}

.cbCheckout#cbStep1 #cbForm section#cbInstallation #cbSelectOptions .ui-selectmenu-menu
{
    color: #c8001d;
}

.cbCheckout#cbStep1 #cbForm section#cbCustomerInfo span.disclaimer
{
    color: #a2a2a1;
}

.cbCheckout#cbStep1 #cbCTAs a
{
    color: #a2a2a1;
}

.cbCheckout#cbStep1 #cbCTAs span
{
    color: #242424;
}

.cbCheckout#cbStep2 #cbBreadcrumbs li:before
{
    color: #fff;
    background-color: #2b9cd8;
}

.cbCheckout#cbStep2 #cbConfirm section div p:last-child
{
    color: #8c8c8c;
}

.cbCheckout#cbStep2 #cbConfirm section ul li:before
{
    color: #2b9cd8;
    border-color: #2b9cd8;
    background-color: transparent;
    /* line-height: 40px;
                            height:40px;
                            width:40px; */
}

.cbCheckout#cbStep2 #cbConfirm section ul li div strong
{
    color: #2b9cd8;
    /* font-size:18px;
                                margin:9px 0px; */
}

/*# sourceMappingURL=skin.css.map */
