/* -------------------------------------------
//  Footer
// -------------------------------------------*/

.footer__navbar {
    position: relative;
    padding: $spacing-xl 0;
    text-align: center;
}

.footer__logos {
    padding: $footer-section-padding 0;
    img {
      width: auto;
      margin-left: $spacing-base;
      &.logo-sm {
        height: 44px;
      }
      &.logo-md {
        height: 55px;
      }
      &.logo-lg {
        height: 80px;
      }
    }
}

.footer__copyright {
    @include font-size($font-size-sm);
    margin-bottom: 0;
}


