/* -------------------------------------------
//  Sections
// -------------------------------------------*/

.section {
    padding: $spacing-lg 0;
    text-align: center;
    @include screen-md {
        padding-top: $spacing-base;
        padding-bottom: $spacing-base;
    }
}

.article {
    padding: $spacing-lg;
    margin-bottom: $spacing-sm;
}

.aside {
    padding: $spacing-sm;
    margin-bottom: $spacing-lg;
    h3 {
        border-bottom: 1px solid;
        @include font-size($font-size-base);
        font-weight: bold;
        padding-bottom: $spacing-base;
    }
    ul {
        padding-left: 0;
        list-style-type: none;
        margin: $spacing-xs 0 $spacing-xl;    
    }
    li {
        margin-bottom: $spacing-xxs;
    }

}

.brand-value {
    padding-top: $spacing-md;
    padding-bottom: $spacing-md;
}

.brand-value-text {
    padding-right: $spacing-base;
}

.node-content {
    padding: 5em 0;
    @include screen-md {
        padding-top: $spacing-base;
        padding-bottom: $spacing-base;
    }
    p {
        line-height: $spacing-sm;
        margin: 0 0 $spacing-sm 0;
    }

    ul,ol {
        padding-left: $spacing-bs;
    }

    .list-unstyled {
        padding-left: 0;
    }
}

.field-collection-item {
    background-color: $white;   // This color remains standard through branded.
    // &:nth-child(odd) {
    //     background-color: #f9f9f9;  // These colors remain standard through branded.
    // }
    // &:nth-child(even) {
    //     background-color: #f3f3f3; 
    // }    
}

.body-content {
    background-color: #f5f9fa;
    padding: $spacing-lg 0;
}


/* ==========================================================================
   Component group displayed on error pages.
   ========================================================================== */

// Local variables
$util-info-summary-height: 5em; //80px.
.util-info {
    width: 100%;
    padding: $spacing-md $spacing-base;
    margin: 0;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    background-image: none;
    @include screen-sm-min {
        flex-direction: row;
        background-image: url('../img/utility-vr.svg');
        background-repeat: repeat-y;
        background-size: auto;
        background-position: center;
        padding: $spacing-md 0;
        margin: $spacing-lg 0;
    }
    @include screen-sm {
        padding-left: 0;
        padding-right: 0;
    }
}

.util-info-is-404 {
    @include screen-sm {
        background-image: none;
    }
}

.util-info-col {
    position: relative;
    text-align: center;
    flex: 2;
    margin-bottom: $spacing-base;
    max-width: 360px; // IE doesn't like flex-basis + flex auto without a width on container.
    @include screen-sm-min {
        align-self: flex-start;
    }
    @include screen-sm {
        width: 100%;
        display: block;
        flex: none;
    }
}

.util-info-col-mid {
    flex: 1;
    align-self: auto; // Keeps this little guy centered vertically.
    @include screen-sm {
        display: block;
        flex: none;
        margin-bottom: 0;
        background-image: url('../img/utility-hr.svg');
        background-repeat: repeat-x;
        background-position: center;
        background-size: auto 100px;
        // background-size: 150px; // Keeps the line thin :)
    }
}

.util-info-headline {
    font-weight: normal;
    margin-top: 0;
}

.util-info-divider {
    padding: $spacing-base;
    background-color: $white;
    display: inline-block;
}

.util-info-phone {
    @include font-size(18px);
    display: block;
}

.util-info-summary {
    padding: 0 $spacing-base $spacing-base;
    @include screen-sm-min {
        // min-height: $util-info-summary-height;
        margin-bottom: $spacing-base;
    }
}

.util-info-nav {
    list-style-type: none;
    padding-left: 0;
    li {
        a {
            padding: $nav-list-spacing;
            display: block;
        }
    }
}
